@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/RobotoFlex.ttf") format("truetype");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Manrope-Regular.woff2") format("woff2"),
  url("/fonts/Manrope-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Manrope-Medium.woff2") format("woff2"),
  url("/fonts/Manrope-Medium.woff") format("woff");
}
