$font-r: "Roboto Flex", sans-serif;
$font-m: "Manrope", sans-serif;

$xs: '(max-width: 559px)';
$s: '(max-width: 779px)';
$m: '(max-width: 1139px)';
$l: '(max-width: 1439px)';
$xl: '(min-width: 1440px)';

$only-xs: '(max-width: 559px)';
$only-s: '(min-width: 560px and max-width: 779px)';
$only-m: '(min-width: 780px and max-width: 1139px)';
$only-l: '(min-width: 1140px and max-width: 1439px)';
$only-xl: '(min-width: 1440px)';


$black: #0A081C;
$gray1: #312F3F;
$gray2: #65646F;
$gray3: #C4C3CC;
$gray4: #E8E8E8;
$active11: #367961;
$passive11: #C9E1D8;
$white: #F8F7F8;
$fail: #E73D48;
$fail2: #F4E4E4;
$succ: #2AB979;
$succ2: #DBEDE5;
$alert2: #F2E6D0;


