<template>
  <div class="creators-wrapper">
    <Header />
    <div class="creators page">
      <div class="container creators__container">
        <h1 class="creators__title">Creators</h1>
        <div class="creators__text-wrapper">
          <p class="creators__text">
            The original team behind the DualFace project will only benefit from
            the continious auctions and aftermarket sales. Each time the auction
            is settled, 10% of the proceeds will be transferred to the team's
            multi-sig wallet
          </p>
          <p class="creators__text">
            We highly rely on the governance system and see it as the main
            control mechanism for this project. Each 20th DualFace will be
            minted in the team's wallet. That way the team will allways have the
            word in the proposals voting
          </p>
        </div>
        <ul class="creators__list">
          <li
            v-for="(item, i) in creatorsItems"
            :key="`creator-${i}`"
            class="creators__item"
          >
            <Face :src="item.src" />
            <BtnSecondary
              src="/images/icons/twitter.svg"
              :text="item.text"
              :url="`https://twitter.com/${item.text}`"
            />
          </li>
        </ul>
      </div>
    </div>
    <Footer />
  </div>
</template>

<style lang="scss">
.creators-wrapper {
  overflow-x: hidden;
}

.creators {
  padding-bottom: 114px;
  padding-top: 72px;

  @media #{$l} {
    padding-bottom: 104px;
    padding-top: 64px;
  }

  @media #{$m} {
    padding-bottom: 230px;
    padding-top: 104px;
  }

  @media #{$s} {
    padding-bottom: 128px;
    padding-top: 64px;
  }

  @media #{$xs} {
    padding-top: 66px;
    padding-bottom: 120px;
  }

  & .btn-secondary {
    font-size: 16px;
    line-height: 22px;
    margin-top: 16px;

    @media #{$m} {
      font-size: 14px;
      text-align: center;
      width: 100%;
      display: block;
    }

    & svg {
      margin-right: 10px;

      @media #{$m} {
        display: none;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    @media #{$m} {
      margin-top: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 32px;
    }

    @media #{$s} {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
      margin-top: 0;
    }

    @media #{$xs} {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: $font-m;
    font-size: 56px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 56px;
    margin-top: 0;

    @media #{$l} {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 32px;
    }

    @media #{$s} {
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__text-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 56px;
    max-width: 825px;
    margin-bottom: 72px;
    border-bottom: 1px solid $gray3;
    padding-bottom: 48px;

    @media #{$l} {
      margin-bottom: 56px;
      grid-column-gap: 48px;
      padding-bottom: 40px;
      max-width: 652px;
    }

    @media #{$m} {
      max-width: none;
      margin-bottom: 48px;
      grid-column-gap: 40px;
    }

    @media #{$s} {
      max-width: none;
      margin-bottom: 48px;
      grid-column-gap: 40px;
    }

    @media #{$xs} {
      padding-bottom: 36px;
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
      grid-column-gap: 0;
      margin-bottom: 56px;
    }
  }

  &__text {
    font-family: $font-r;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$l} {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Face from "@/components/Face.vue";
import BtnSecondary from "@/components/BtnSecondary.vue";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

@Options({
  components: {
    Face,
    BtnSecondary,
    Header,
    Footer,
  },
})
export default class Creators extends Vue {
  public get creatorsItems() {
    return [
      {
        src: "/images/faces/cre-1.png",
        text: "@facewithcigaret",
      },
      {
        src: "/images/faces/cre-2.png",
        text: "@0xElectronyx",
      },
      {
        src: "/images/faces/cre-3.png",
        text: "@0xbcdef",
      },
      {
        src: "/images/faces/cre-4.png",
        text: "@0xheroeth",
      },
      {
        src: "/images/faces/cre-5.png",
        text: "@santallow",
      },
    ];
  }
}
</script>
