<template>
  <div class="dao-wrapper">
    <Header />
    <div class="dao">
      <div class="dao__top">
        <div class="container dao__container">
          <div class="dao__left">
            <div class="dao__left-wrapper">
              <h1 class="dao__title">DualFace DAO</h1>
              <p class="dao__text">
                This is the birthplace of new projects and ideas. Any
                holder&nbsp;can make a proposal, and all the holders can vote
                for&nbsp;or&nbsp;against it. Read more in the
                <a class="dao__link">Governance docs</a>
              </p>
            </div>
            <div class="dao__btn-wrapper">
              <BtnPrimary
                class="dao__btn"
                type="middleGreen"
                text="Submit Proposal"
                src="/images/icons/plus.svg"
                :is-disabled="!isAnyVotes"
              />
              <span class="dao__no-votes" v-if="!isAnyVotes"
                >You have no votes</span
              >
            </div>
          </div>
          <div class="dao__right">
            <span class="dao__treasure-title"> DF Treasury </span>
            <div class="dao__treasure-value">
              <inline-svg
                class="dao__treasure-icon"
                src="/images/icons/eth-big.svg"
              />
              <span class="dao__treasure-eth">23,206</span>
              <div class="dao__treasure-usd">$ 59,477,769</div>
            </div>
            <p class="dao__treasure-text">
              These are resources of the DF project. 90% of the auction’s
              profits are collected here. DF holders can allocate them as
              they&nbsp;want by making a proposal.
            </p>
          </div>
        </div>
      </div>
      <div class="dao__proposals">
        <div class="container dao__proposals-container">
          <div class="dao__proposal-header">
            <div class="dao__proposal-title-wrapper">
              <inline-svg src="/images/icons/proposal-title.svg" />
              <h3 class="dao__proposal-title">Proposals</h3>
            </div>
            <input
              class="dao__search"
              type="text"
              placeholder="Search topics by name"
              v-model="searchInput"
            />
          </div>
          <ul class="dao__list">
            <li v-for="(item, i) in proposals" :key="`dao-proposal-${i}`">
              <DaoCard
                :number="item.number"
                :title="item.title"
                :src="item.src"
                :status="item.status"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import DaoCard from "@/components/DaoCard.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";
import { IDaoCard } from "@/types";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

@Options({
  components: {
    DaoCard,
    BtnPrimary,
    Header,
    Footer,
  },
})
export default class Dao extends Vue {
  public searchInput = "";
  public isAnyVotes = false;
  public get proposals(): IDaoCard[] {
    return [
      {
        number: 99,
        title:
          "Nouns Outdoor Advertising Placement On Giant Donut Statue In Los Angeles (Randy’s Donuts)",
        src: "/images/proposal.png",
        status: "inProgress",
        url: "/",
      },
      {
        number: 99,
        title: "NOUNish Friends Stage 1: Collectibles by BigShot",
        src: "/images/proposal.png",
        status: "executed",
        url: "/",
      },
      {
        number: 99,
        title: "NOUNish Friends Stage 1: Collectibles by BigShot",
        src: "/images/proposal.png",
        status: "defeated",
        url: "/",
      },
      {
        number: 99,
        title: "NOUNcil Proposal #1",
        src: "/images/proposal.png",
        status: "canceled",
        url: "/",
      },
    ];
  }
}
</script>

<style lang="scss">
.dao-wrapper {
  overflow-x: hidden;
}

.dao {
  background: $gray4;

  &__top {
    background: $white;
    padding-top: 104px;
    padding-bottom: 144px;
    text-align: left;

    @media #{$l} {
      padding-bottom: 124px;
      padding-top: 88px;
    }

    @media #{$m} {
      padding-bottom: 104px;
    }

    @media #{$s} {
      padding-top: 60px;
    }

    @media #{$xs} {
      padding-bottom: 90px;
    }

    & .container {
      flex-direction: row;
      justify-content: space-between;

      @media #{$s} {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }

  &__right {
    max-width: 453px;
    min-height: 313px;
    background: $gray4;
    border: 1px solid $gray3;
    border-radius: 40px;
    width: 100%;
    padding: 48px;

    @media #{$l} {
      max-width: 358px;
      height: 335px;
    }

    @media #{$m} {
      max-width: 330px;
      height: 369px;
    }

    @media #{$s} {
      max-width: 100%;
      height: auto;
    }

    @media #{$xs} {
      min-height: 0;
      max-width: 100vw;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
      height: auto;
      margin-left: -32px;
      margin-right: -32px;
      width: 100vw;
      padding: 32px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media #{$m} {
      padding-left: 24px;
    }

    @media #{$s} {
      padding-left: 0;
      margin-bottom: 56px;
    }

    @media #{$s} {
      margin-bottom: 48px;
    }
  }

  &__left-wrapper {
    max-width: 459px;
    display: flex;
    flex-direction: column;

    @media #{$l} {
      max-width: 359px;
    }

    @media #{$m} {
      max-width: 266px;
    }

    @media #{$s} {
      max-width: 100%;
    }
  }

  &__title {
    font-family: $font-m;
    font-weight: 500;
    font-size: 56px;
    line-height: 64px;
    color: $black;
    margin-top: 0;
    margin-bottom: 32px;

    @media #{$l} {
      font-size: 48px;
      line-height: 56px;
    }

    @media #{$m} {
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -0.7px;
    }

    @media #{$xs} {
      margin-bottom: 28px;
    }
  }

  &__treasure-value {
    display: flex;
    align-items: center;
  }

  &__treasure-icon {
    margin-right: 18px;

    @media #{$s} {
      margin-right: 14px;
    }

    @media #{$xs} {
      margin-left: -14px;
    }
  }

  &__treasure-eth {
    font-family: $font-m;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $black;
    margin-right: 16px;

    @media #{$l} {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__treasure-usd {
    font-family: $font-r;
    font-size: 16px;
    line-height: 22px;
    color: $gray2;
    padding: 8px 12px;
    background: $white;
    border-radius: 8px;
    min-width: 117px;

    @media #{$l} {
      font-size: 14px;
      line-height: 22px;
      min-width: 106px;
    }

    @media #{$m} {
      position: relative;
      margin-right: -26px;
    }

    @media #{$m} {
      margin-right: 0;
    }
  }

  &__treasure-text {
    font-family: $font-r;
    font-size: 16px;
    line-height: 22px;
    color: $gray1;
    margin-top: 24px;
    margin-bottom: 0;

    @media #{$l} {
      font-size: 14px;
      line-height: 22px;
    }

    @media #{$m} {
      max-width: 230px;
    }

    @media #{$s} {
      max-width: 100%;
    }
  }

  &__treasure-title {
    padding-bottom: 16px;
    display: block;
    border-bottom: 1px solid $gray3;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $gray2;
    font-family: $font-r;
    margin-bottom: 24px;

    @media #{$l} {
      font-size: 14px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-r;
    color: $gray1;
    margin-top: 0;
    margin-bottom: 0;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.1px;
    }

    @media #{$m} {
      max-width: 250px;
    }

    @media #{$s} {
      max-width: 436px;
    }
  }

  &__link {
    color: var(--active);
    text-decoration: underline;
  }

  &__btn-wrapper {
    display: flex;
    align-items: center;

    @media #{$m} {
      flex-direction: column;
      align-items: flex-start;
    }

    @media #{$s} {
      margin-top: 40px;
    }
  }

  &__no-votes {
    margin-left: 32px;
    font-size: 18px;
    line-height: 28px;
    color: $gray2;
    font-family: $font-r;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$m} {
      margin-left: 0;
      margin-top: 12px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    @media #{$s} {
      grid-template-columns: 1fr;
    }
  }

  &__proposal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
    margin-bottom: 70px;

    @media #{$xs} {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__proposal-title-wrapper {
    display: flex;
    align-items: center;
    @media #{$xs} {
      margin-bottom: 44px;
    }
  }

  &__proposal-title {
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 48px;

    @media #{$l} {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__proposals-container.container {
    @media #{$xs} {
      padding: 0 40px;
    }
  }

  &__proposals {
    padding-bottom: 200px;

    @media #{$m} {
      padding-bottom: 180px;
    }

    @media #{$s} {
      padding-bottom: 130px;
    }

    @media #{$xs} {
      padding-bottom: 118px;
    }
  }

  &__search {
    background: $white no-repeat 16px center;
    background-image: url("/images/icons/search.svg");
    border: 1px solid $gray3;
    border-radius: 16px;
    color: $gray1;
    height: 48px;
    width: 298px;
    display: flex;
    outline: none;
    padding-left: 48px;
    padding-right: 48px;

    @media #{$s} {
      width: 208px;
    }

    @media #{$xs} {
      width: 100%;
    }

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(10, 8, 28, 0.03),
          rgba(10, 8, 28, 0.03)
        ),
        #f8f7f8 url("/images/icons/search.svg") no-repeat 16px center;
    }

    &::placeholder {
      color: $gray3;
    }

    &:focus {
      outline: none;
      border: 1px solid $gray1;
    }
  }
}
</style>
