<template>
  <div class="home-wrapper">
    <Header />
    <div class="home">
      <div class="home__top">
        <Slider :list="facesList" />
        <transition appear name="fade-appear" mode="out-in">
          <div class="home__bids" v-if="isNewFace">
            <BidsForm
              :time="{ hours: 2, minutes: 30, seconds: 20 }"
              :number="256"
            />
            <BidsList :list="bidsList" />
          </div>
          <div class="home__bids home__bids--wide" v-else>
            <BidsFormDone v-if="!isNewFace" :number="256" />
          </div>
        </transition>
      </div>
      <div v-if="isNewFace">
        <Apply class="home__apply" />
        <div class="home__howto howto">
          <div class="howto__container container">
            <h3>How to get Dualface?</h3>
            <inline-svg :src="pictureSrc" />
          </div>
        </div>

        <div class="home__about about">
          <div class="about__container container">
            <div class="about__text">
              <h2>DualFace</h2>
              <p>
                is an experimental project that follows the Duality principles.
                We took the best from both fungible and non-fungible tokens
                projects and merged them, creating something new
              </p>
              <p>
                Our goal is to develop and maintain a small but constantly
                growing community of active holders. To achieve it, we’ve
                implemented the daily-minting mechanism, the DF governance, and
                a dividends payment system
              </p>
            </div>
          </div>
        </div>

        <div class="home__acco acco">
          <div class="acco__container container">
            <Accordion :list="accoItems" />
          </div>
        </div>
      </div>
      <div v-else>
        <BidProposals />
      </div>
    </div>
    <Footer />
  </div>
</template>

<style lang="scss">
.fade-appear-enter-active,
.fade-appear-leave-active {
  transition: opacity 0.3s;
}
.fade-appear-enter-from, .fade-appear-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.home-wrapper {
  overflow-x: hidden;
}

.home {
  overflow-x: hidden;

  &__top {
    background: var(--passive);
    padding-top: 64px;
    padding-bottom: 72px;
    position: relative;
    transition: 0.3s;

    @media #{$l} {
      padding-bottom: 24px;
      padding-top: 40px;
    }

    @media #{$m} {
      padding-bottom: 42px;
    }

    @media #{$s} {
      padding-top: 28px;
      padding-bottom: 0;
    }

    @media #{$xs} {
      padding-top: 20px;
      padding-bottom: 0;
    }
  }

  &__bids {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 56px;

    @media #{$l} {
      max-width: 1010px;
      margin-top: 24px;
    }

    @media #{$m} {
      max-width: none;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      margin-top: 42px;
    }

    @media #{$s} {
      max-width: none;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 0;
      margin-top: 44px;
      padding-bottom: 0;
    }

    @media #{$xs} {
      margin-top: 16px;
    }
  }
}

.howto {
  padding-top: 200px;

  @media #{$l} {
    padding-top: 156px;
  }

  @media #{$m} {
    padding-top: 148px;
  }

  @media #{$s} {
    padding-top: 112px;
  }

  @media #{$xs} {
    padding-top: 104px;
  }

  & svg {
    width: 100%;
    height: auto;
    color: var(--active);
  }

  & h3 {
    text-align: left;
    margin-bottom: 80px;
    font-family: $font-m;
    font-size: 30px;
    line-height: 48px;
    font-weight: 500;
    margin-top: 0;

    @media #{$l} {
      margin-bottom: 70px;
      font-size: 24px;
      line-height: 36px;
    }

    @media #{$m} {
      margin-bottom: 78px;
    }

    @media #{$xs} {
      padding-top: 8px;
      margin-bottom: 40px;
    }
  }
}

.about {
  color: $black;
  text-align: left;

  &__text {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $gray3;
    padding-bottom: 56px;
    padding-top: 196px;

    @media #{$l} {
      padding-top: 156px;
    }

    @media #{$m} {
      padding-top: 148px;
    }

    @media #{$s} {
      padding-top: 112px;
    }

    @media #{$xs} {
      padding-top: 104px;
      padding-bottom: 40px;
    }
  }

  & h2 {
    font-family: $font-m;
    font-weight: 500;
    font-size: 54px;
    line-height: 64px;
    margin-bottom: 40px;
    margin-top: 0;
    color: $black;

    @media #{$l} {
      font-size: 48px;
      line-height: 56px;
    }

    @media #{$s} {
      font-size: 40px;
      line-height: 48px;
    }

    @media #{$xs} {
      margin-bottom: 32px;
    }
  }

  & p {
    font-family: $font-r;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 700px;
    color: $gray1;
    letter-spacing: 0.2px;

    &:last-child {
      margin-bottom: 0;
    }

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }
  }
}

.acco {
  padding-top: 128px;
  padding-bottom: 240px;
  max-width: 740px;
  margin: 0 auto;
  width: 100%;

  @media #{$l} {
    padding-top: 80px;
    padding-bottom: 200px;
    max-width: 700px;
  }

  @media #{$m} {
    padding-bottom: 180px;
    max-width: 596px;
  }

  @media #{$s} {
    max-width: 480px;
    padding-bottom: 128px;
  }

  @media #{$xs} {
    padding-top: 56px;
    padding-bottom: 120px;
    width: 100%;
    max-width: none;
  }

  &__container.container {
    padding: 0;

    @media #{$xs} {
      padding: 0 8px;
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnSecondary from "@/components/BtnSecondary.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";
import Accordion from "@/components/Accordion.vue";
import { nanoid } from "nanoid";
import ProgressBar from "@/components/ProgressBar.vue";
import ActiveFaceList from "@/components/ActiveFaceList.vue";
import BidsList from "@/components/BidsList.vue";
import BidsForm from "@/components/BidsForm.vue";
import { FaceStatus } from "@/const";
import Slider from "@/components/Slider.vue";
import Apply from "@/components/Apply.vue";
import BidProposals from "@/components/BidProposals.vue";
import BidsFormDone from "@/components/BidsFormDone.vue";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

@Options({
  components: {
    BtnSecondary,
    BtnPrimary,
    Accordion,
    ProgressBar,
    ActiveFaceList,
    BidsList,
    BidsForm,
    Slider,
    Apply,
    BidProposals,
    BidsFormDone,
    Header,
    Footer,
  },
})
export default class Home extends Vue {
  public get isNewFace() {
    return this.$store.state.currentFaceStatus === FaceStatus.new;
  }
  public get bidsList() {
    return [
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
      {
        wallet: "0x84..02bE",
        bid: "1.0",
      },
    ];
  }

  public get facesList() {
    return [
      {
        src: "/images/faces/01.png",
        theme: 1,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/02.png",
        theme: 2,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/03.png",
        theme: 3,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/04.png",
        theme: 4,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/05.png",
        theme: 5,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/06.png",
        theme: 6,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/07.png",
        theme: 7,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/08.png",
        theme: 8,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/09.png",
        theme: 9,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/10.png",
        theme: 10,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/11.png",
        theme: 11,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/12.png",
        theme: 12,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/13.png",
        theme: 13,
        id: nanoid(),
        status: FaceStatus.creator,
      },
      {
        src: "/images/faces/14.png",
        theme: 14,
        id: nanoid(),
        status: FaceStatus.finished,
      },
      {
        src: "/images/faces/15.png",
        theme: 15,
        id: nanoid(),
        status: FaceStatus.new,
      },
    ];
  }

  public get accoItems() {
    return [
      {
        title: "bla1",
        text: [
          "Every 6 hours the DF Minting contract will issue a new random-generated token to be auctioned. You can see the current token and the bidding queue at the top of the page. 90% of the auction proceeds are automatically deposited in the DF DAO Treasury where it can only be used by DF holders. The rest 10% are transferred to the founders multisig wallet",
          "This minting process may continue forever. The DF DAO can stop it after 1k tokens have been minted",
        ],
        id: nanoid(),
      },
      {
        title: "White-list pre-mint. Duality #0",
        text: ["White-list pre-mint. Duality #0"],
        id: nanoid(),
      },
      {
        title: "Bidding queue. Duality #1",
        text: ["Bidding queue. Duality #1"],
        id: nanoid(),
      },
      {
        title: "The DualFace DAO. Duality #2",
        text: ["The DualFace DAO. Duality #2"],
        id: nanoid(),
      },
      {
        title: "Generative art. Rarity. Duality #3",
        text: ["Generative art. Rarity. Duality #3"],
        id: nanoid(),
      },
      {
        title: "Dividends system",
        text: ["Dividends system"],
        id: nanoid(),
      },
    ];
  }

  public get pictureSrc() {
    switch (true) {
      case this.$windowWidth >= 1440:
        return "/images/home/ill-xl.svg";
      case this.$windowWidth >= 1140 && this.$windowWidth < 1440:
        return "/images/home/ill-l.svg";
      case this.$windowWidth >= 780 && this.$windowWidth < 1140:
        return "/images/home/ill-m.svg";
      case this.$windowWidth < 780 && this.$windowWidth >= 560:
        return "/images/home/ill-s.svg";
      case this.$windowWidth < 560:
        return "/images/home/ill-xs.svg";
      default:
        return "/images/home/ill-xs.svg";
    }
  }
}
</script>
