<template>
  <div class="iq">
    <div class="container" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
})
export default class IQ extends Vue {}
</script>
