<template>
  <div class="page-404-wrapper">
    <Header />
    <div class="page-404">
      <div class="container page-404_container">
        <inline-svg class="page-404__img" src="/images/eye.svg" />
        <h1 class="page-404__text">Page not found</h1>
        <BtnPrimary
          text="To main page"
          src="/images/icons/btn-arrow.svg"
          type="bigGreen"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.page-404-wrapper {
  overflow-x: hidden;
  height: 100vh;
}

.page-404 {
  height: 100%;

  & .container {
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 14px;

    @media #{$l} {
      margin-top: -20px;
    }

    @media #{$m} {
      margin-top: 60px;
    }

    @media #{$s} {
      margin-top: 40px;
    }

    @media #{$xs} {
      margin-top: 60px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    color: var(--active);
    max-width: 1033px;

    @media #{$l} {
      max-width: 798px;
    }
  }

  &__text {
    font-family: $font-m;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: $gray1;
    margin-top: 120px;
    margin-bottom: 32px;

    @media #{$l} {
      font-size: 20px;
      line-height: 28px;
      margin-top: 104px;
    }

    @media #{$m} {
      margin-top: 164px;
    }

    @media #{$s} {
      margin-top: 193px;
    }

    @media #{$xs} {
      margin-top: 163px;
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnPrimary from "@/components/BtnPrimary.vue";
import Header from "@/components/Header.vue";

@Options({
  components: {
    BtnPrimary,
    Header,
  },
})
export default class Page404 extends Vue {}
</script>
