<template>
  <div class="playground">
    <div class="container" />
  </div>
</template>

<style lang="scss">
.playground {
  position: relative;
}
</style>
<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
})
export default class Playground extends Vue {}
</script>
