<template>
  <div class="proposal-wrapper">
    <Header />
    <div class="proposal">
      <div class="container proposal__container">
        <div class="proposal__top">
          <div class="proposal__content">
            <div class="proposal__controls">
              <BtnSecondary
                type="withIcon"
                text="Proposal 72"
                src="/images/icons/arrow-left.svg"
              />
              <div class="proposal__status">
                <inline-svg src="/images/icons/mark.svg" />
                Executed
              </div>
            </div>
            <div class="proposal__img-wrapper">
              <img src="/images/proposal.png" alt="proposal" />
            </div>
            <h2>NOUNish Friends Stage 1: Collectibles by BigShot</h2>
          </div>
          <ProposalCreator
            class="proposal__creator"
            creator="0xaf...0e9f"
            :votes="totalVotes"
            date="May 11, 2022"
            time="3:01 AM, GMT+7"
            :snapshot="14717475"
          />
        </div>
        <div class="proposal__votes">
          <div class="proposal__votes-title">
            <h3>Votes</h3>
            <span>{{ votesCount }}</span>
          </div>
          <div class="proposal__votes-list">
            <VoteCard
              :current-votes="10"
              :total-votes="totalVotes"
              :type="'for'"
              :facesList="forFaces"
            />
            <VoteCard
              :current-votes="5"
              :total-votes="totalVotes"
              :type="'against'"
              :facesList="againstFaces"
            />
            <VoteCard
              :current-votes="15"
              :total-votes="totalVotes"
              :type="'abstain'"
              :facesList="abstainFaces"
            />
          </div>
        </div>
        <Article class="proposal__article"> </Article>
      </div>
    </div>
    <Footer />
  </div>
</template>

<style lang="scss">
.proposal-wrapper {
  overflow-x: hidden;
}
.proposal {
  &__container.container {
    max-width: 1280px;
    padding: 80px 0 200px;

    @media #{$l} {
      max-width: 1012px;
      padding-top: 72px;
    }

    @media #{$m} {
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 180px;
    }

    @media #{$s} {
      padding-top: 68px;
      padding-bottom: 128px;
    }

    @media #{$xs} {
      padding-top: 40px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__top {
    padding: 48px;
    border: 1px solid $gray3;
    border-radius: 40px;
    display: flex;

    @media #{$m} {
      padding: 0;
      border: none;
      flex-direction: column;
    }
  }

  & h2 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    font-family: $font-m;
    color: $black;
    letter-spacing: -1px;

    @media #{$l} {
      margin-top: 32px;
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__controls {
    display: flex;
    margin-bottom: 40px;

    @media #{$l} {
      margin-bottom: 32px;
    }

    @media #{$s} {
      justify-content: space-between;
    }
  }

  &__creator {
    margin-left: 48px;

    @media #{$l} {
      margin-left: 64px;
    }

    @media #{$m} {
      margin-left: 0;
      margin-top: 56px;
    }

    @media #{$s} {
      margin-top: 64px;
    }
  }

  &__status {
    color: $succ;
    padding: 10px 16px;
    letter-spacing: -0.8px;
    background: $succ2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    font-size: 16px;
    line-height: 22px;

    @media #{$l} {
      font-size: 14px;
    }

    @media #{$s} {
      margin-left: 0;
      padding: 8px 20px;
    }

    & svg {
      margin-right: 8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__img-wrapper {
    border-radius: 48px;
    width: 773px;
    height: 324px;
    overflow: hidden;

    @media #{$l} {
      width: 541px;
      height: 324px;
    }

    @media #{$m} {
      width: 100%;
      height: 324px;
    }

    @media #{$xs} {
      width: 100%;
      height: 168px;
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__votes {
    padding-top: 100px;
    padding-bottom: 160px;

    @media #{$l} {
      padding-top: 98px;
      padding-bottom: 146px;
    }

    @media #{$m} {
      padding-top: 98px;
      padding-bottom: 138px;
    }

    @media #{$s} {
      padding-bottom: 112px;
    }

    @media #{$xs} {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 116px;
    }
  }
  &__votes-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;

    @media #{$s} {
      margin-bottom: 42px;
    }

    & h3 {
      font-size: 32px;
      line-height: 48px;
      color: $black;
      margin: 0;

      @media #{$l} {
        font-size: 24px;
        line-height: 36px;
      }
    }

    & span {
      color: $gray2;
      font-family: $font-m;
      font-size: 24px;
      line-height: 40px;

      @media #{$l} {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &__votes-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;

    @media #{$l} {
      grid-column-gap: 16px;
    }

    @media #{$m} {
      grid-column-gap: 8px;
    }

    @media #{$s} {
      grid-column-gap: 0;
      grid-row-gap: 8px;
      grid-template-columns: 1fr;
      padding: 64px 72px;
      justify-items: center;
      border: 1px solid $gray3;
      border-radius: 40px;
    }

    @media #{$xs} {
      grid-column-gap: 0;
      grid-row-gap: 8px;
      grid-template-columns: 1fr;
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }

  & .btn-secondary {
    margin-left: -6px;
    letter-spacing: -0.5px;
    svg {
      margin-right: 6px;
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import VoteCard from "@/components/VoteCard.vue";
import ProposalCreator from "@/components/ProposalCreator.vue";
import BtnSecondary from "@/components/BtnSecondary.vue";
import Article from "@/components/Article.vue";
import { nanoid } from "nanoid";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

@Options({
  components: {
    VoteCard,
    ProposalCreator,
    BtnSecondary,
    Article,
    Header,
    Footer,
  },
  props: {
    type: String,
  },
})
export default class Proposal extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get totalVotes(): number {
    return 30;
  }

  public get votesCount(): string {
    return this.dProps.totalVotes
      ? `You have ${this.dProps.totalVotes} votes`
      : "You have no votes";
  }

  public get forFaces() {
    return [
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
    ];
  }

  public get againstFaces() {
    return [
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),

        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),

        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
    ];
  }

  public get abstainFaces() {
    return [
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
      {
        id: nanoid(),
        src: "/images/faces/f.png",
      },
    ];
  }
}
</script>
