<template>
  <div class="accordion-item" :class="itemClass">
    <div @click="toggleItem" class="accordion-item__header">
      <b> {{ $props.item.title }}</b>
      <inline-svg v-if="this.isShow" src="/images/icons/minus.svg" />
      <inline-svg v-else src="/images/icons/plus.svg" />
    </div>
    <transition name="fadeHeight">
      <div class="accordion-item__body" v-if="isShow">
        <p v-for="(text, i) in $props.item.text" :key="`text-${i}`">
          {{ text }}
        </p>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    item: {},
  },
})
export default class Accordion extends Vue {
  public isShow = false;

  public get dProps(): any {
    return this.$props;
  }

  public toggleItem() {
    this.isShow = !this.isShow;
    //this.$store.commit("setColor", 3);
  }

  public get itemClass() {
    return {
      "accordion-item--opened": this.isShow,
    };
  }
}
</script>

<style lang="scss">
.fadeHeight-enter-active,
.fadeHeight-leave-active {
  transition: all 0.3s;
  opacity: 1;
}
.fadeHeight-enter-from,
.fadeHeight-leave-to {
  opacity: 0;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  border: 1px solid $gray3;
  background-color: $white;
  width: 100%;
  border-radius: 16px;
  padding: 31px 40px;

  @media #{$xs} {
    padding: 24px;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(10, 8, 28, 0.03),
        rgba(10, 8, 28, 0.03)
      ),
      $white;
  }

  &__body {
    margin-top: 14px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & b {
      color: $black;
      font-family: $font-m;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      transition: 0.3s;
      text-align: left;

      @media #{$l} {
        font-size: 24px;
        line-height: 36px;
      }

      @media #{$s} {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }

  & p {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-family: $font-r;
    color: $gray1;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: 0.2px;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--opened {
    background: linear-gradient(
        0deg,
        rgba(10, 8, 28, 0.03),
        rgba(10, 8, 28, 0.03)
      ),
      #f8f7f8;

    & b {
      color: var(--active);
      transition: 0.3s;
    }
  }
}
</style>
