<template>
  <div class="accordion">
    <AccordionItem
      v-for="listItem in displayList"
      :key="`acco-item-${listItem.id}`"
      :item="listItem"
      class="accordion__item"
    />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AccordionItem from "@/components/AccordionItem.vue";

@Options({
  components: {
    AccordionItem,
  },
  props: {
    list: [],
  },
})
export default class Accordion extends Vue {
  public displayList = this.dProps.list;

  public get dProps(): any {
    return this.$props;
  }
}
</script>

<style lang="scss">
.accordion__item {
  margin-bottom: 32px;

  @media #{$s} {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
</style>
