<template>
  <ul class="active-face-list">
    <li
      v-for="(item, i) in $props.list"
      :key="`active-face-item-${i}`"
      class="active-face-list__item">
      <img :src="item.src" alt="face" />
    </li>
  </ul>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import AccordionItem from "@/components/AccordionItem.vue";

@Options({
  components: {
  },
  props: {
    list: [],
  },
})
export default class ActiveFaceList extends Vue {
  public displayList = this.dProps.list;

  public get dProps(): any {
    return this.$props;
  }
}
</script>

<style lang="scss">
.active-face-list {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: calc(50% - 190px);


  @media #{$l} {
    margin-right: calc(50% - 60px);
  }

  @media #{$m} {
    margin-right: 26%;
  }

  @media #{$m} {
    margin-right: 29%;
  }

  @media #{$xs} {
    margin-right: 32px;
  }



  &__item {
    margin-left: 96px;
    border-radius: 32px;
    opacity: 0.2;
    width: 362px;
    height: 362px;
    display: block;

    @media #{$l} {
      width: 240px;
      height: 240px;
      margin-left: 88px;
    }

    @media #{$m} {
      width: 360px;
      height: 360px;
      margin-left: 56px;
    }

    @media #{$s} {
      width: 240px;
      height: 240px;
      margin-left: 32px;
    }

    @media #{$xs} {
      width: 216px;
      height: 216px;
      margin-left: 32px;
    }

    &:first-child {
      opacity: 1;
    }

    & img {
      object-fit: contain;
      width: 362px;
      height: 362px;
      display: block;

      @media #{$l} {
        width: 240px;
        height: 240px;
      }

      @media #{$m} {
        width: 360px;
        height: 360px;
      }

      @media #{$s} {
        width: 240px;
        height: 240px;
      }

      @media #{$xs} {
        width: 216px;
        height: 216px;
      }
    }

  }
}
</style>
