<template>
  <div class="apply">
    <div class="apply__container container">
      <div class="apply__text-container">
        <h3>Apply to Whitelist</h3>
        <p>The first 100 DualFaces will be minted via white-list mechanism</p>
        <BtnPrimary
          v-if="$store.state.isAuth"
          src="/images/icons/mail.svg"
          text="Apply"
          type="okGray"
        />
        <BtnSecondary
          v-else
          src="/images/icons/wallet-icon.svg"
          text="Connect your wallet"
          type="withIcon"
        />
      </div>
      <div class="apply__img-container">
        <inline-svg src="/images/home/apply.svg" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.apply {
  background: $gray4;
  border-top: 1px solid $gray3;
  border-bottom: 1px solid $gray3;

  @media #{$s} {
    margin-top: 56px;
  }

  & h3 {
    font-family: $font-m;
    font-weight: 500;
    font-size: 23px;
    margin-top: 0;
    color: $black;
    margin-bottom: 16px;

    @media #{$l} {
      font-size: 20px;
      margin-bottom: 12px;
    }
  }

  &__container.container {
    display: grid;
    grid-template-columns: 1.1fr 2fr;
    grid-row: 1;

    @media #{$l} {
      grid-template-columns: 1.2fr 2.1fr;
    }

    @media #{$m} {
      grid-template-columns: 1fr 1.1fr;
      padding-left: 0;
      padding-right: 0;
    }

    @media #{$s} {
      grid-template-columns: 1fr 2fr;
      padding-left: 0;
      padding-right: 0;
    }

    @media #{$xs} {
      grid-template-columns: 1fr;
      grid-row: 2;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__img-container {
    background: rgba(10, 8, 28, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$m} {
      grid-column-start: 1;
      grid-row-start: 1;
    }

    @media #{$xs} {
      padding: 36px 0;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 66px 0;

    & p {
      width: 100%;
      max-width: 298px;
      margin-bottom: 32px;
      color: $gray2;
      font-family: $font-r;
      font-size: 18px;
      line-height: 28px;
      margin-top: 0;

      @media #{$l} {
        margin-bottom: 24px;
        font-size: 16px;
        line-height: 22px;
      }
    }

    @media #{$l} {
      padding: 82px 0;
    }

    @media #{$m} {
      grid-column-start: 2;
      padding: 66px 0 66px 40px;
    }

    @media #{$xs} {
      padding: 32px 0;
      grid-column-start: 1;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  & .btn-secondary {
    font-size: 16px;
    line-height: 22px;

    @media #{$l} {
      font-size: 14px;
    }

    & svg {
      width: 24px;
      height: 24px;
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnSecondary from "@/components/BtnSecondary.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";

@Options({
  components: {
    BtnSecondary,
    BtnPrimary,
  },
})
export default class Apply extends Vue {}
</script>
