<template>
  <div class="article">
    <h2>Description</h2>
    <div>
      <h3>What is the NOUNish friends project?</h3>
      <p>
        The proposal is for Nouns DAO to fund Stage 1 of 2 of NOUNish Friends, a
        10,000 run of modular Nounish collectibles designed, created, and
        distributed by Bigshot Toys. Klim and team have been working on this for
        months (along with other Nounish projects, like
        <a>Propsal 56 for Fun Noggles</a>) and they not only have extensive
        expertise in creating collectibles like this but also have a specific
        vision for their NOUNish Friends line beyond just making them but
        getting them distributed in high signal locations and in front of
        forward thinking people.
      </p>

      <img src="/images/article.png" alt="article" />

      <h3>STAGE 1 (DEVELOPMENT & PRE-PRODUCTION)</h3>
      <ul>
        <li>
          The proposal is for Nouns DAO to fund Stage 1 of 2 of NOUNish Friends,
          a 10,000
        </li>
        <li>
          run of modular Nounish collectibles designed, created, and distributed
          by Bigshot
        </li>
        <li>
          Toys. Klim and team have been working on this for months (along with
          other Nounish
        </li>
      </ul>

      <p>
        p2 Klim and his team have been working on this project over the past 3
        months and the final designs are fun, playful, modern and we feel
        represent NOUNs well in this funky new style. The sculpts are ready to
        go but we have gone as far as we can without help.
      </p>

      <h3>Twtter</h3>
      <a>p1 Nounworks for updates</a>
      <a>Bigshot</a>
    </div>
    <h2>Proposed transactions</h2>
    <div>
      <ol>
        <li>
          <a>0xd25912007EBC2527d4ED9DC536f928E550b0f02C</a>.transfer( 20.0 ETH )
        </li>
      </ol>
    </div>
    <h2>Proposer</h2>
    <div>
      <p><a>0x008c84421dA5527F462886cEc43D2717B686A7e4</a> at <a>0xfb674</a></p>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
  props: {},
})
export default class Article extends Vue {
  public get dProps(): any {
    return this.$props;
  }
}
</script>

<style lang="scss">
.proposal .article {
  text-align: left;
  @media #{$s} {
    max-width: 432px;
    margin: 0 auto;
  }

  @media #{$xs} {
    max-width: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
  }

  & h2 {
    display: block;
    font-family: $font-m;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $black;
    padding-bottom: 56px;
    border-bottom: 1px solid $gray3;
    margin-bottom: 64px;

    @media #{$m} {
      margin-bottom: 108px;
    }

    @media #{$s} {
      margin-bottom: 100px;
    }
  }

  & div {
    max-width: 700px;
    margin: 0 auto;

    @media #{$m} {
      max-width: 516px;
    }

    @media #{$s} {
      max-width: 432px;
    }

    @media #{$xs} {
      max-width: none;
      width: 100%;
      padding: 0;
    }
  }

  & a {
    text-decoration: none;
    border-bottom: 1px solid var(--active);
    color: var(--active);
    word-break: break-all;
  }

  & p {
    font-size: 18px;
    line-height: 30px;
    color: $gray1;
    margin-top: 0;
    font-family: $font-r;
  }

  & h3 {
    display: block;
    font-family: $font-m;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: $black;
    padding-bottom: 32px;
    border-bottom: 1px solid $gray3;
    margin-bottom: 40px;
    margin-top: 0;
  }

  & img {
    width: 100%;
    height: auto;
    border-radius: 32px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  & ul,
  ol {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 30px;
    color: $gray1;
    font-family: $font-r;
  }

  & li {
    word-break: break-all;
  }
}
</style>
