<template>
  <div class="bid-proposals">
    <div class="container bid-proposals__container">
      <div class="bid-proposals__proposal-header">
        <div class="bid-proposals__proposal-title-wrapper">
          <inline-svg src="/images/icons/activity-title.svg" />
          <h3 class="bid-proposals__proposal-title">Activity</h3>
        </div>
      </div>

      <ul class="bid-proposals__list">
        <li v-for="(item, i) in proposals" :key="`bid-proposal-${i}`">
          <proposalCard
            :number="item.number"
            :title="item.title"
            :src="item.src"
            :status="item.status"
            :vote-type="item.voteType"
            :date="item.date"
          />
        </li>
      </ul>
    </div>

    <div class="bid-proposals__apply apply">
      <div class="apply__container container">
        <div class="apply__text-container">
          <h3>Apply to Whitelist</h3>
          <p>The first 100 DualFaces will be minted via white-list mechanism</p>
          <BtnPrimary
              v-if="$store.state.isAuth"
              src="/images/icons/mail.svg"
              text="Apply"
              type="okGray"
          />
          <BtnSecondary
              v-else
              src="/images/icons/wallet-icon.svg"
              text="Connect your wallet"
              type="withIcon"
          />
        </div>
        <div class="apply__img-container">
          <inline-svg src="/images/home/apply-logo.svg" />
        </div>
      </div>
    </div>

  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProposalCard from "@/components/ProposalCard.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";
import BtnSecondary from "@/components/BtnSecondary.vue";

@Options({
  components: {
    ProposalCard,
    BtnPrimary,
    BtnSecondary,
  },
})
export default class BidProposals extends Vue {
  public get proposals() {
    return [
      {
        number: 99,
        title:
          "Nouns Outdoor Advertising Placement On Giant Donut Statue In Los Angeles (Randy’s Donuts)",
        src: "/images/proposal.png",
        status: "inProgress",
        voteType: "voted",
        date: "April 15, 2022",
      },
      {
        number: 99,
        title: "NOUNish Friends Stage 1: Collectibles by BigShot",
        src: "/images/proposal.png",
        status: "executed",
        voteType: "against",
        date: "April 15, 2022",
      },
      {
        number: 99,
        title: "NOUNish Friends Stage 1: Collectibles by BigShot",
        src: "/images/proposal.png",
        status: "defeated",
        voteType: "abstain",
        date: "April 15, 2022",
      },
      {
        number: 99,
        title: "NOUNish Friends Stage 1: Collectibles by BigShot",
        src: "/images/proposal.png",
        status: "canceled",
        voteType: "waiting",
        date: "April 15, 2022",
      },
    ];
  }
}
</script>

<style lang="scss">
.bid-proposals {
  background: $white;
  overflow: hidden;

  .apply {
    background: $gray4;
    border-top: 1px solid $gray3;
    border-bottom: 1px solid $gray3;
    margin-bottom: 200px;

    @media #{$l} {
      margin-bottom: 148px;
    }

    @media #{$m} {
      margin-bottom: 142px;
    }

    @media #{$s} {
      margin-top: 56px;
    }

    & h3 {
      font-family: $font-m;
      font-weight: 500;
      font-size: 23px;
      margin-top: 0;
      color: $black;
      margin-bottom: 8px;

      @media #{$l} {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    &__container.container {
      max-width: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 1;

      @media #{$l} {
        max-width: 100%;
        grid-template-columns: 1.2fr 2.1fr;
      }

      @media #{$m} {
        grid-template-columns: 1fr 1.1fr;
        padding-left: 0;
        padding-right: 0;
      }

      @media #{$s} {
        grid-template-columns: 1fr 2fr;
        padding-left: 0;
        padding-right: 0;
      }

      @media #{$xs} {
        grid-template-columns: 1fr;
        grid-row: 2;
        padding-left: 0;
        padding-right: 0;
      }
    }

    &__img-container {
      background: rgba(10, 8, 28, 0.03);
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column-start: 1;
      grid-row-start: 1;

      @media #{$l} {
        grid-column-start: 2;
        grid-row-start: 1;
      }

      @media #{$m} {
        grid-column-start: 1;
        grid-row-start: 1;
      }

      @media #{$xs} {
        padding: 48px 0;
      }
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 74px 72px;
      grid-column-start: 2;


      & p {
        width: 100%;
        max-width: 298px;
        margin-bottom: 24px;
        color: $gray2;
        font-family: $font-r;
        font-size: 18px;
        line-height: 28px;
        margin-top: 0;

        @media #{$l} {
          margin-bottom: 24px;
          font-size: 16px;
          line-height: 22px;
        }
      }

      @media #{$l} {
        padding: 82px 0;
        grid-column-start: 1;
      }

      @media #{$m} {
        grid-column-start: 2;
        padding: 50px 0 80px 40px;
      }

      @media #{$xs} {
        padding: 46px 0 36px;
        grid-column-start: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }

    & .btn-secondary {
      font-size: 16px;
      line-height: 22px;

      @media #{$l} {
        font-size: 14px;
      }

      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    @media #{$s} {
      grid-template-columns: 1fr;
    }
  }


  &__proposal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 96px;
    margin-bottom: 70px;

    @media #{$m} {
      margin-bottom: 46px;
    }

    @media #{$s} {
      padding-top: 0;
      margin-bottom: 40px;
    }

    @media #{$xs} {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &__proposal-title-wrapper {
    display: flex;
    align-items: center;
    @media #{$xs} {
      margin-bottom: 38px;
    }
  }

  &__proposal-title {
    margin-left: 24px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    line-height: 48px;

    @media #{$l} {
      font-size: 24px;
      line-height: 36px;
      margin-left: 16px;
    }
  }

  &__container.container {
    padding-bottom: 200px;
    padding-top: 68px;

    @media #{$l} {
      padding-top: 26px;
      padding-bottom: 148px;
    }

    @media #{$m} {
      padding-top: 10px;
      padding-bottom: 144px;
    }

    @media #{$s} {
      padding-top: 88px;
      padding-bottom: 86px;
    }
  }
}
</style>
