<template>
  <div class="bids-form">
    <div class="bids-form__face">
      <span class="bids-form__label">Current face</span>
      <b class="bids-form__face-value">DualFace {{ $props.number }}</b>
      <div class="bids-form__time">
        <inline-svg src="/images/icons/clock.svg" />
        <span>{{ timeText }}</span>
      </div>
      <div class="bids-form__date">
        <button class="bids-form__btn-minus" type="button" @click="slideTo(-1)">
          <inline-svg src="/images/icons/arrow-left.svg" />
        </button>
        <span>{{ bidDate }}</span>
        <button class="bids-form__btn-plus" type="button" @click="slideTo(1)">
          <inline-svg src="/images/icons/arrow-right.svg" />
        </button>
      </div>
    </div>
    <div class="bids-form__info">
      <span class="bids-form__label">Bid info</span>
      <p class="bids-form__bid-label">
        {{ isMyAuthBid ? " Your bid" : "Enter bid" }}
      </p>
      <Dropdown :itemsList="bids" type="bid" />
      <BtnPrimary
        v-if="!isMyAuthBid"
        class="bids-form__place-btn"
        type="middleGreen"
        text="Place bid"
        src="/images/icons/dollar.svg"
      />
      <div v-if="isMyAuthBid" class="bids-form__btn-wrapper">
        <BtnPrimary
          class="bids-form__place-btn"
          type="cancelGray"
          text="Cancel"
          src="/images/icons/close.svg"
          @click="isBtnDisabled = true"
        />

        <BtnPrimary
          class="bids-form__place-btn"
          type="middleGreen"
          text="Change"
          :is-disabled="isBtnDisabled"
          src="/images/icons/change.svg"
          @click="isBtnDisabled = true"
        />
      </div>

      <div class="bids-form__date">
        <button class="bids-form__btn-minus" type="button" @click="slideTo(-1)">
          <inline-svg src="/images/icons/arrow-left.svg" />
        </button>
        <span>{{ bidDate }}</span>
        <button class="bids-form__btn-plus" type="button" @click="slideTo(1)">
          <inline-svg src="/images/icons/arrow-right.svg" />
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import Dropdown from "@/components/Dropdown.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";
import EventBus from "@/EventBus";

@Options({
  components: {
    Dropdown,
    BtnPrimary,
  },
  props: {
    number: Number,
    time: { hours: Number, minutes: Number, seconds: Number },
  },
})
export default class BidsForm extends Vue {
  public isBtnDisabled = true;
  public get dProps(): any {
    return this.$props;
  }

  public mounted() {
    EventBus.on("activate-btn", (evt) => {
      this.isBtnDisabled = false;
    });
  }

  public slideTo(vector: number) {
    EventBus.emit("change-slide", { vector: vector });
  }

  public get timeText() {
    return `${this.dProps.time.hours}h ${this.dProps.time.minutes}m ${this.dProps.time.seconds}s`;
  }

  public get bidDate() {
    return "May 11, 2022";
  }

  public get isMyAuthBid() {
    return this.$store.state.isAuth && this.$store.state.isMyBid;
  }

  public get bids() {
    return [
      {
        src: "images/icons/eth-filled.svg",
        title: 1.1,
      },
      {
        src: "images/icons/eth-filled.svg",
        title: 1.5,
      },
      {
        src: "images/icons/eth-filled.svg",
        title: 2,
      },
      {
        src: "images/icons/eth-filled.svg",
        title: 1.1,
      },
      {
        src: "images/icons/eth-filled.svg",
        title: 1.1,
      },
      {
        src: "images/icons/eth-filled.svg",
        title: 1.1,
      },
    ];
  }
}
</script>

<style lang="scss">
.bids-form {
  display: flex;
  max-width: 826px;
  width: 100%;
  padding: 48px;
  background: $gray4;
  border: 1px solid $gray3;
  border-radius: 24px;
  padding-bottom: 44px;

  @media #{$l} {
    padding: 32px;
    max-width: 652px;
  }

  @media #{$m} {
    max-width: none;
    width: calc(50% - 6px);
    padding: 40px;
    flex-direction: column;
  }

  @media #{$s} {
    border-top: 1px solid $gray3;
    width: 100%;
    position: relative;
    padding: 32px 104px 24px 104px;
    background: transparent;
    border: none;
  }

  @media #{$xs} {
    padding: 24px 32px;
  }

  &__place-btn {
    width: 100%;
    margin-top: 30px;

    @media #{$l} {
      margin-top: 24px;
    }

    @media #{$m} {
      margin-top: 10px;
    }

    @media #{$xs} {
      margin-top: 4px;
    }
  }

  &__btn-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;

    @media #{$xs} {
      margin-top: 4px;
    }
  }

  &__info {
    text-align: left;
    padding-left: 64px;
    width: 50%;

    & .bids-form__date {
      display: none;

      @media #{$m} {
        display: flex;
        margin-top: 38px;
        padding: 2px 10px;
      }

      @media #{$xs} {
        margin-top: 22px;
      }
    }

    & .bids-form__label {
      @media #{$m} {
        display: none;
      }
    }

    @media #{$l} {
      padding-left: 49px;
    }

    @media #{$m} {
      padding-left: 0;
      margin-top: 32px;
      width: 100%;
    }

    @media #{$s} {
      margin-top: 22px;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 22px;
    color: $gray2;
    font-family: $font-r;

    @media #{$l} {
      font-size: 14px;
    }

    @media #{$s} {
      display: none;
    }
  }

  &__bid-label {
    font-family: $font-r;
    font-size: 18px;
    line-height: 28px;
    color: $gray1;
    margin-bottom: 8px;
    margin-top: 30px;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }

    @media #{$m} {
      display: none;
    }
  }

  &__face-value {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    font-family: $font-m;
    color: $black;
    margin-top: 32px;
    margin-bottom: 17px;

    @media #{$l} {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 9px;
    }

    @media #{$s} {
      margin: 0;
    }
  }

  &__time {
    font-size: 16px;
    line-height: 22px;
    color: $gray1;
    display: flex;
    align-items: center;
    font-family: $font-r;

    @media #{$l} {
      font-size: 14px;
    }

    @media #{$s} {
      color: $gray1;
    }

    & svg {
      margin-right: 8px;
      color: $gray3;

      @media #{$s} {
        color: var(--active);
      }
    }
  }

  &__face {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 64px;
    border-right: 1px solid $gray3;
    width: 50%;

    @media #{$l} {
      padding-right: 49px;
    }

    @media #{$m} {
      border-right: none;
      padding-right: 0;
      width: 100%;
    }

    @media #{$s} {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__date {
    margin-top: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid $gray3;
    border-radius: 16px;
    padding: 2px 16px;
    color: $gray2;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-r;

    @media #{$l} {
      margin-top: 40px;
    }

    @media #{$m} {
      display: none;
    }

    & button {
      padding: 4px;
      border: none;
      background: transparent;

      &:hover {
        svg {
          path {
            fill: $gray2;
          }
        }
      }

      &:active {
        svg {
          path {
            fill: $black;
          }
        }
      }
    }
  }
}
</style>
