<template>
  <div class="bids-list" :class="listClass">
    <div class="bids-list__container">
      <perfect-scrollbar>
        <div class="bids-list__top" @click="toggleList">
          Queue
          <inline-svg src="/images/icons/arrow-down.svg" />
        </div>
        <ul class="bids-list__list">
          <li
            v-for="(item, i) in $props.list"
            :key="`bids-item-${i}`"
            class="bids-list__item"
            :class="itemClass(i)"
          >
            <div class="bids-list__item-left">
              <inline-svg
                class="bids-list__item-crown"
                v-if="i === 0"
                src="/images/icons/winner.svg"
              />
              <span class="bids-list__item-number" v-else>{{ i + 1 }}</span>
              <inline-svg
                class="bids-list__wallet-icon"
                src="/images/icons/wallet.svg"
              />
              <span class="bids-list__item-wallet">{{
                isMyBid(i) ? "You" : item.wallet
              }}</span>
            </div>
            <div class="bids-list__item-right">
              <span>{{ item.bid }}</span>
              <inline-svg src="/images/icons/eth.svg" />
            </div>
          </li>
        </ul>
      </perfect-scrollbar>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import EventBus from "@/EventBus";

@Options({
  components: {},
  props: {
    list: [],
  },
})
export default class BidsList extends Vue {
  public isShown = false;

  public toggleList() {
    this.isShown = !this.isShown;
  }

  public get dProps(): any {
    return this.$props;
  }

  public get listClass() {
    return {
      "bids-list--opened": this.isShown,
    };
  }

  public mounted() {
    EventBus.on("change-slide", (evt) => {
      this.isShown = false;
    });
  }

  public itemClass(index) {
    return {
      "bids-list__item--you": this.isMyBid(index),
    };
  }

  public isMyBid(index) {
    return this.$store.state.isAuth && this.$store.state.isMyBid && index === 2;
  }
}
</script>

<style lang="scss">
.bids-list {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-right: 4px;
  height: 326px;
  width: 429px;
  background: $gray4;
  border: 1px solid $gray3;
  border-radius: 24px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 30;

  & .ps {
    height: 286px;

    @media #{$l} {
      height: 232px;
    }

    @media #{$m} {
      height: 431px;
    }

    @media #{$s} {
      height: 284px;
    }
  }

  &__container {
    height: 326px;
    width: 100%;
    padding: 32px;
    padding-right: 0;

    @media #{$l} {
      height: 272px;
      padding: 28px;
      padding-right: 0;
    }

    @media #{$m} {
      height: 437px;
      padding: 32px;
      padding-right: 0;
    }

    @media #{$s} {
      padding-top: 40px;
      padding-left: 104px;
      padding-right: 0;
      padding-left: 0;
      height: 284px;
      max-width: 352px;
      margin: 0 auto;
    }
  }

  @media #{$l} {
    width: 334px;
    height: 272px;
  }

  @media #{$m} {
    width: 330px;
    left: calc(50% + 20px);
    height: 431px;
  }

  @media #{$s} {
    width: 100%;
    position: absolute;
    border-radius: 0;
    border-left: none;
    border-right: none;
    height: 284px;
    left: 0;
    top: 314px;
  }

  @media #{$xs} {
    height: 284px;
    left: 0;
    top: 282px;
    padding-left: 32px;
    padding-right: 32px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    padding-right: 26px;

    @media #{$s} {
      padding-right: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 14px;
    border-bottom: 1px solid $gray3;

    @media #{$l} {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    &:last-child {
      border: none;
    }

    &--you {
      border-bottom: 1px solid var(--active);
      color: var(--active);

      & .bids-list__item-number {
        color: var(--active);
      }

      & .bids-list__item-wallet {
        color: var(--active);
      }

      & .bids-list__item-right {
        color: var(--active);

        svg {
          path {
            fill: var(--active);
          }
        }
      }
    }
  }

  &__item-left {
    display: flex;
  }

  &__item-right {
    display: flex;
    align-items: center;

    & span {
      font-size: 16px;
      line-height: 22px;
      color: $gray2;
      margin-right: 6px;

      @media #{$l} {
        font-size: 14px;
      }
    }
  }

  &__item-crown {
    margin-left: 4px;
    margin-right: 4px;
  }

  &__item-number {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 22px;
    color: $gray2;

    @media #{$l} {
      font-size: 14px;
    }
  }

  &__wallet-icon {
    margin-left: 16px;
    margin-right: 4px;
  }

  &__item-wallet {
    font-size: 16px;
    line-height: 22px;
    color: $gray1;

    @media #{$l} {
      font-size: 14px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid $gray3;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-r;
    color: $gray2;
    padding-right: 28px;
    cursor:pointer;

    & svg {
      display: block;
      transition: 0.3s;

      @media #{$l} {
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      color: $gray1;
    }

    @media #{$l} {
      font-size: 14px;
      padding-right: 24px;
    }

    @media #{$m} {
      padding-right: 12px;
      padding-bottom: 12px;
    }

    @media #{$s} {
      padding-bottom: 8px;
      padding-right: 0;
    }
  }

  &--opened {
    height: 744px;
    top: -422px;
    transition: 0.3s;

    & .ps {
      height: 714px;

      @media #{$l} {
        height: 500px;
      }

      @media #{$m} {
        height: 760px;
      }

      @media #{$s} {
        height: calc(100vh - 60px);
      }
    }

    @media #{$l} {
      height: 544px;
      top: -266px;
    }

    @media #{$m} {
      height: 804px;
      top: -406px;
    }

    @media #{$s} {
      height: 100vh;
      position: absolute;
      top: -314px;
    }

    & .bids-list__top {
      & svg {
        transform: rotate(-180deg);
        transition: 0.3s;
      }
    }
  }
}
</style>
