<template>
  <div class="bids-form-done">
    <div class="bids-form-done__face">
      <span class="bids-form-done__label">Current face</span>
      <div class="bids-form-done__value-wrapper">
        <b class="bids-form-done__face-value">DualFace {{ $props.number }}</b>
        <div v-if="isMScreen" class="bids-form-done__history">
          <div class="bids-form-done__history-item">
            <inline-svg
              class="bids-form-done__history-icon"
              src="/images/icons/birth.svg"
            />
            <span class="bids-form-done__history-label">Born</span>
            <p class="bids-form-done__history-date">April 10, 2022</p>
          </div>
          <div class="bids-form-done__history-item">
            <inline-svg
              class="bids-form-done__history-icon"
              src="/images/icons/heart.svg"
            />
            <span class="bids-form-done__history-label">Held</span>
            <a class="bids-form-done__history-winner">
              <span class="bids-form-done__winner-label">0xc6...2236</span>
              <inline-svg
                class="bids-form-done__external"
                src="images/icons/external.svg"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="bids-form-done__date">
        <button
          class="bids-form-done__btn-minus"
          type="button"
          @click="slideTo(-1)"
        >
          <inline-svg src="/images/icons/arrow-left.svg" />
        </button>
        <span>{{ bidDate }}</span>
        <button
          class="bids-form-done__btn-plus"
          type="button"
          @click="slideTo(1)"
        >
          <inline-svg src="/images/icons/arrow-right.svg" />
        </button>
      </div>
    </div>

    <div v-if="!isMScreen" class="bids-form-done__info">
      <span class="bids-form-done__label">About face</span>
      <div class="bids-form-done__founder" v-if="isFounder">
        All Noun auction proceeds are sent to theNouns DAO.For this reason, we, the project's founders (‘Nounders’)
      </div>
      <div v-if="!isFounder" class="bids-form-done__history">
        <div class="bids-form-done__history-item">
          <inline-svg
            class="bids-form-done__history-icon"
            src="/images/icons/birth.svg"
          />
          <span class="bids-form-done__history-label">Born</span>
          <p class="bids-form-done__history-date">April 10, 2022</p>
        </div>
        <div class="bids-form-done__history-item">
          <inline-svg
            class="bids-form-done__history-icon"
            src="/images/icons/heart.svg"
          />
          <span class="bids-form-done__history-label">Held</span>
          <a class="bids-form-done__history-winner">
            <span class="bids-form-done__winner-label">0xc6...2236</span>
            <inline-svg
              class="bids-form-done__external"
              src="images/icons/external.svg"
            />
          </a>
        </div>
      </div>
      <BtnPrimary
        class="bids-form-done__scan-btn"
        type="smallGray"
        :text="btnText"
        src="/images/icons/arrow-right.svg"
      />
    </div>

    <div class="bids-form-done__winner">
      <span class="bids-form-done__label">{{bitLabel}}</span>
      <div class="bids-form-done__winner-wrapper">
        <div class="bids-form-done__winner-wallet">
          <inline-svg  v-if="!isFounder" src="/images/icons/wallet.svg" />
          <span class="bids-form-done__wallet-value">{{isFounder ? 'nounders.eth' : '0xaf...0e9f'}}</span>
        </div>
        <BtnPrimary
          v-if="isMScreen"
          class="bids-form-done__scan-btn"
          type="smallGray"
          :text="btnText"
          src="/images/icons/arrow-right.svg"
          :class="btnClass"
        />
      </div>
      <div class="bids-form-done__winner-price">
        <span>Final price</span>
        <div class="bids-form-done__price-value">
          <inline-svg src="/images/icons/eth-filled.svg" />
          <span>{{isFounder ? 'n/a' : '51.00'}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnPrimary from "@/components/BtnPrimary.vue";
import EventBus from "@/EventBus";
import { FaceStatus } from "@/const";

@Options({
  components: {
    BtnPrimary,
  },
  props: {
    number: Number,
  },
})
export default class BidsFormDone extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public slideTo(vector: number) {
    EventBus.emit("change-slide", { vector: vector });
  }

  public get bidDate() {
    return "May 11, 2022";
  }

  public get btnText() {
    return this.isFounder ? 'Learn about team' : 'Etherscan';
  }

  public get isMScreen() {
    return this.$windowWidth < 1139;
  }

  public get bitLabel() {
    return this.isMScreen ? 'Bid info' : 'Winner';
  }

  public get isFounder() {
    return this.$store.state.currentFaceStatus === FaceStatus.creator;
  }

  public get btnClass() {
    return {
      'bids-form-done__scan-btn--founder': this.isFounder,
    };
  }
}
</script>

<style lang="scss">
.bids-form-done {
  display: grid;
  grid-template-columns: 0.94fr 1fr 1fr;
  width: 100%;
  padding: 48px;
  background: $gray4;
  border: 1px solid $gray3;
  border-radius: 24px;
  padding-bottom: 44px;
  height: 326px;

  @media #{$l} {
    grid-template-columns: 0.94fr 1.12fr 1fr;
    padding: 32px;
    height: 272px;
  }

  @media #{$m} {
    padding: 40px;
    grid-template-columns: 1fr 1fr;
    height: 424px;
  }

  @media #{$s} {
    position: relative;
    padding: 32px 0 0 0;
    height: auto;
    background: transparent;
    border: none;
    grid-template-columns: 1fr;
    border-top: 1px solid $gray3;
  }

  @media #{$xs} {
    padding: 24px 0 0;
  }

  &__founder {
    font-size: 18px;
    line-height: 28px;
    color: $gray1;
    font-family: $font-r;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__winner-wrapper {
    @media #{$s} {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 46px;
    }

    @media #{$xs} {
      margin-bottom: 34px;
    }
  }

  &__scan-btn {
    width: 300px;
    margin-top: 20px;

    @media #{$l} {
      margin-top: 18px;
      max-width: 244px;
    }

    @media #{$m} {
      margin-top: 24px;
    }

    @media #{$s} {
      width: 100%;
      max-width: none;
    }

    @media #{$xs} {
      margin-top: 18px;
    }

    &--founder {
      @media #{$m} {
        margin-top: 56px;
      }

      @media #{$s} {
        margin-top: 24px;
      }
    }
  }

  &__winner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    padding: 0 26px 0 64px;

    @media #{$l} {
      padding: 0 16px 0 48px;
    }

    @media #{$m} {
      padding: 0 0 0 65px;
    }

    @media #{$s} {
      background: $gray4;
      width: 100%;
      padding: 48px 104px 40px;
    }

    @media #{$xs} {
      padding: 48px 32px 40px;
    }
  }

  &__winner-price {
    display: flex;
    padding-bottom: 14px;
    border-bottom: 1px solid $gray3;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    line-height: 28px;
    color: $gray1;
    font-family: $font-r;

    @media #{$l} {
      padding-bottom: 10px;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__price-value {
    display: flex;
    align-items: center;

    & svg {
      margin-right: 10px;
    }
  }

  &__winner-wallet {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: $black;
    font-family: $font-m;

    @media #{$l} {
      font-size: 24px;
      line-height: 32px;
    }

    svg {
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }

  &__history {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__history-item {
    display: flex;
    align-items: center;
  }

  &__history-icon {
    color: var(--active);
  }

  &__external {
    color: $gray3;
  }

  &__history-winner {
    display: flex;
    align-items: center;

    &:hover {
      & .bids-form-done__external {
        color: $gray2;
      }
    }

    &:active {
      & .bids-form-done__external {
        color: var(--active);
      }
    }
  }

  &__history-label {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-r;
    margin-left: 8px;
    color: $gray2;
    margin-right: 16px;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__winner-label {
    font-size: 18px;
    line-height: 28px;
    font-family: $font-r;
    color: $black;
    margin-right: 8px;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__history-date {
    font-size: 18px;
    line-height: 28px;
    color: $black;
    font-family: $font-r;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__info {
    text-align: left;
    width: 100%;
    border-right: 1px solid $gray3;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    & .bids-form__label {
      @media #{$m} {
        display: none;
      }
    }

    @media #{$l} {
      padding: 0 49px;
    }

    @media #{$m} {
      padding-left: 0;
      margin-top: 32px;
      width: 100%;
    }

    @media #{$s} {
      margin-top: 22px;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 22px;
    color: $gray2;
    font-family: $font-r;

    @media #{$l} {
      font-size: 14px;
    }

    @media #{$s} {
      display: none;
    }
  }

  &__bid-label {
    font-family: $font-r;
    font-size: 18px;
    line-height: 28px;
    color: $gray1;
    margin-bottom: 8px;
    margin-top: 30px;

    @media #{$l} {
      font-size: 16px;
      line-height: 22px;
      margin-top: 20px;
    }

    @media #{$m} {
      display: none;
    }
  }

  &__face-value {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    font-family: $font-m;
    color: $black;
    margin-top: 56px;
    margin-bottom: 17px;

    @media #{$l} {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 14px;
      margin-top: 52px;
    }

    @media #{$m} {
      display: block;
      margin-bottom: 10px;
      margin-top: 50px;
    }

    @media #{$s} {
      margin: 0;
      margin-bottom: 10px;
    }
  }

  &__face {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    border-right: 1px solid $gray3;
    width: 100%;
    padding-right: 0;

    @media #{$m} {
      padding-right: 0;
      width: 100%;
      justify-content: space-between;
    }

    @media #{$s} {
      border-right: none;
      justify-content: flex-start;
      padding: 0 104px;
    }

    @media #{$xs} {
      padding: 8px 32px 8px;
    }
  }

  &__date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid $gray3;
    border-radius: 16px;
    padding: 2px 16px;
    color: $gray2;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-r;
    max-width: 300px;

    @media #{$l} {
      max-width: 244px;
    }

    @media #{$m} {
      display: flex;
      margin-top: 38px;
      padding: 2px 10px;
      margin-bottom: 13px;
    }

    @media #{$m} {
      width: 100%;
      max-width: none;
    }

    @media #{$xs} {
      margin-top: 22px;
    }

    & button {
      padding: 4px;
      border: none;
      background: transparent;

      &:hover {
        svg {
          path {
            fill: $gray2;
          }
        }
      }

      &:active {
        svg {
          path {
            fill: $black;
          }
        }
      }
    }
  }
}
</style>
