<template>
  <button type="button" class="btn-primary" :class="btnClass" >
    <span>{{ $props.text }}</span>
    <inline-svg :src="$props.src" />
  </button>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { boolean } from "smooth-scrollbar/decorators";

@Options({
  props: {
    text: String,
    src: String,
    type: String, //bigGreen, middleGreen, okGray, cancelGray, smallGray
    isDisabled: Boolean
  },
})
export default class BtnPrimary extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get btnClass() {
    return {
      "btn-primary--big-green": this.dProps.type === 'bigGreen',
      "btn-primary--middle-green": this.dProps.type === 'middleGreen',
      "btn-primary--ok-gray": this.dProps.type === 'okGray',
      "btn-primary--cancel-gray": this.dProps.type === 'cancelGray',
      "btn-primary--small-gray": this.dProps.type === 'smallGray',
      "btn-primary--disabled": this.dProps.isDisabled,
    };
  }
}
</script>

<style lang="scss">
.btn-primary {
  display: flex;
  justify-content: space-between;
  font-family: $font-r;
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 28px;
  color: $gray2;
  transition: all 0.3s;
  align-items: center;
  text-decoration: none;
  padding: 14px 24px;
  outline: 1px solid $gray2;
  background: $gray4;
  width: 280px;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  &::after {
    content: none;
    border-radius: 16px;
  }

  @media #{$l} {
    font-size: 16px;
    line-height: 22px;
  }

  @media #{$m} {
    padding: 14px 20px;
  }

  @media #{$s} {
    padding: 14px 20px;
  }

  & span {
    z-index: 2;
  }

  & svg {
    width: 24px;
    height: 24px;
    color: $gray2;
    z-index: 2;

    & path {
      transition: all 0.3s;
    }
  }

  &:hover {
    color: $gray2;
    transition: all 0.3s;

    svg {
      path {
        fill: $gray2;
        transition: all 0.3s;
      }
    }
  }

  &:active {
    color: var(--active);
    transition: all 0.3s;

    svg {
      path {
        fill: var(--active);
        transition: all 0.3s;
      }
    }
  }

  &--ok-gray {
    background: $gray4;
    color: $gray2;
    padding: 8px 24px;
    outline: 1px solid $gray3;

    svg {
      path {
        fill: $gray2;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $gray2;
      background: $white;
      outline: 1px solid $gray2;

      svg {
        path {
          fill: $gray2;
          transition: all 0.3s;
        }
      }
    }

    &:active {
      color: $black;
      outline: 1px solid $black;

      svg {
        path {
          fill: $black;
          transition: all 0.3s;
        }
      }
    }
  }

  &--cancel-gray {
    background: $gray4;
    color: $gray2;
    padding: 8px 24px;
    outline: 1px solid $gray3;

    svg {
      path {
        fill: $gray2;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $gray1;
      background: $fail2;

      svg {
        path {
          fill: $gray1;
          transition: all 0.3s;
        }
      }
    }

    &:active {
      color: $gray1;
      outline: 1px solid $fail;

      svg {
        path {
          fill: $gray1;
          transition: all 0.3s;
        }
      }
    }
  }

  &--small-gray {
    background: $white;
    color: $gray2;
    padding: 8px 24px;
    outline: 1px solid $gray3;

    svg {
      path {
        fill: $gray2;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $gray1;

      svg {
        path {
          fill: $gray1;
          transition: all 0.3s;
        }
      }
    }

    &:active {
      color: $gray1;
      outline: 1px solid $gray1;

      svg {
        path {
          fill: $gray1;
          transition: all 0.3s;
        }
      }
    }
  }

  &--middle-green {
    background: var(--active);
    color: $white;
    outline: 1px solid var(--active);
    position: relative;

    & svg {
      width: 24px;
      height: 24px;
      color: $white;

      & path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $white;
      transition: all 0.3s;

      svg {
        path {
          fill: $white;
          transition: all 0.3s;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.05;
        z-index: 1;
      }
    }

    &:active {
      color: $white;
      transition: all 0.3s;
      outline: 1px solid rgba(10, 8, 28, 0.5);

      svg {
        path {
          fill: $white;
          transition: all 0.3s;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.05;
        z-index: 1;
      }


    }
  }

  &--big-green {
    padding: 21px 24px;
    background: var(--active);
    color: $white;
    outline: 1px solid var(--active);
    position: relative;



    & svg {
      width: 24px;
      height: 24px;
      color: $white;

      & path {
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $white;
      transition: all 0.3s;

      svg {
        path {
          fill: $white;
          transition: all 0.3s;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.05;
        z-index: 1;
      }
    }

    &:active {
      color: $white;
      transition: all 0.3s;
      outline: 1px solid rgba(10, 8, 28, 0.5);

      svg {
        path {
          fill: $white;
          transition: all 0.3s;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: 0.05;
        z-index: 1;
      }


    }
  }

  &--disabled {
    color: $gray3;
    background: $gray4;
    outline: 1px solid $gray3;
    cursor: unset;

    & svg {
      color: $gray3;
    }

    & svg {
      path {
        fill: $gray3;
      }
    }

    &:hover {
      color: $gray3;
      background: $gray4;
      outline: 1px solid $gray3;

      & svg {
        color: $gray3;
      }

      & svg {
        path {
          fill: $gray3;
        }
      }

      &::after {
        content: none;
      }
    }

    &:active {
      color: $gray3;
      background: $gray4;
      outline: 1px solid $gray3;

      & svg {
        color: $gray3;
      }

      & svg {
        path {
          fill: $gray3;
        }
      }

      &::after {
        content: none;
      }
    }
  }
}


</style>
