<template>
  <a :href="$props.url" class="btn-secondary" :class="btnClass" >
    <inline-svg :src="$props.src" />
    {{ $props.text }}
  </a>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    url: String,
    text: String,
    src: String,
    type: String,
  },
})
export default class BtnSecondary extends Vue {

  public get dProps(): any {
    return this.$props;
  }

  public get btnClass() {
    return {
      "btn-secondary--with-icon": this.dProps.type === 'withIcon',
    };
  }
}
</script>

<style lang="scss">
.btn-secondary {
  display: flex;
  font-family: $font-r;
  font-variation-settings: 'wght' 400;
  font-size: 18px;
  line-height: 28px;
  color: $gray1;
  transition: all 0.3s;
  align-items: center;
  text-decoration: none;

  @media #{$l} {
    font-size: 16px;
    line-height: 22px;
  }

  & svg {
    width: 32px;
    height: 32px;
    color: $gray3;
    margin-right: 14px;

    & path {
      transition: all 0.3s;
    }

    @media #{$s} {
      display: none;
    }
  }

  &:hover {
    color: $black;
    transition: all 0.3s;

    svg {
      path {
        fill: $gray2;
        transition: all 0.3s;
      }
    }
  }

  &:active {
    color: var(--active);
    transition: all 0.3s;

    svg {
      path {
        fill: var(--active);
        transition: all 0.3s;
      }
    }
  }

  &--with-icon {
    & svg {
      @media #{$s} {
        display: block;
      }
    }
  }
}


</style>
