<template>
  <div :to="dProps.url ?? '/'" class="dao-card">
    <div class="dao-card__img-wrapper">
      <img :src="$props.src" />
    </div>
    <div class="dao-card__info">
      <h3 v-snip="{ lines: 2, mode: 'js', midWord: false }">
        {{ $props.title }}
      </h3>

      <div class="dao-card__about">
        <div class="dao-card__status">
          <inline-svg :src="statusIcon" />
          <span>{{ statusText }}</span>
        </div>
        <p class="dao-card__name">Proposal {{ $props.number }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
  props: {
    number: Number,
    title: String,
    src: String,
    status: String, //inProgress, executed, defeated, canceled
    url: String,
  },
})
export default class DaoCard extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get statusIcon(): string {
    switch (this.dProps.status) {
      case "inProgress":
        return "/images/icons/dao-in-progress.svg";
      case "executed":
        return "/images/icons/dao-executed.svg";
      case "defeated":
        return "/images/icons/dao-defeated.svg";
      case "canceled":
        return "/images/icons/dao-canceled.svg";
      default:
        return "/images/icons/dao-canceled.svg";
    }
  }

  public get statusText(): string {
    switch (this.dProps.status) {
      case "inProgress":
        return "In progress";
      case "executed":
        return "Executed";
      case "defeated":
        return "Defeated";
      case "canceled":
        return "Canceled";
      default:
        return "Canceled";
    }
  }
}
</script>

<style lang="scss">
.dao-card {
  background: $white;
  height: 100%;
  width: 100%;
  border: 1px solid $gray3;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  color: $gray1;

  &:hover {
    & .dao-card__img-wrapper {
      transition: 0.3s;
    }

    & .dao-card__img-wrapper::after {
      content: "Open proposal >";
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 264px;
      width: 100%;
      border-radius: 24px;
      background: $black;
      opacity: 0.6;
      z-index: 5;
      transition: 0.3s;
    }
  }

  &__info {
    padding: 28px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media #{$l} {
      padding: 24px 40px;
    }

    @media #{$xs} {
      padding: 16px 24px 14px;
    }
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -0.8px;
    margin-bottom: 32px;

    @media #{$l} {
      margin-bottom: 0;
      margin-bottom: 32px;

    }

    @media #{$m} {
      margin-bottom: 20px;
    }

    @media #{$xs} {
      margin-bottom: 16px;
    }
  }

  &__about {
    font-family: $font-r;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: $gray2;
    padding: 24px 0;
    padding-top: 12px;
    padding-bottom: 14px;
    border-top: 1px solid $gray3;

    @media #{$l} {
      padding: 24px 0;
      padding-bottom: 18px;
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$m} {
      padding: 20px 0;
      padding-bottom: 0;
    }

    @media #{$xs} {
      padding: 16px 0 0;
    }
  }

  &__img-wrapper {
    height: 264px;
    width: 100%;
    border-radius: 24px;
    // overflow: hidden;
    display: block;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 264px;
      width: 100%;
      border-radius: 24px;
      background: $black;
      opacity: 0;
      z-index: 5;
      transition: 0.3s;
    }
  }

  & img {
    height: 264px;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &__status {
    display: flex;
    align-items: center;

    & span {
      margin-left: 12px;
    }
  }
}
</style>
