<template>
  <div ref="dropdown" class="dropdown" :class="dropdownClass" v-click-outside="closeDropdown">
    <div
      class="dropdown__select-btn"
      @click="toggleDropdown"
      :class="btnClass"
      v-if="$props.type !== 'bid'"
    >
      <div class="dropdown__value">
        <inline-svg :src="iconByType" />
        <span>{{ activeItem }}</span>
      </div>
      <span class="dropdown__arrow" :class="arrowClass">
        <inline-svg
          class="dropdown__arrow-svg"
          src="/images/icons/arrow-down.svg"
        />
      </span>
    </div>

    <div
      class="dropdown__select-btn"
      :class="btnClass"
      v-if="$props.type === 'bid'"
    >
      <input type="text" class="dropdown__value-input" v-model="activeItem" />
      <span class="dropdown__arrow" :class="arrowClass" @click="toggleDropdown">
        <inline-svg
          class="dropdown__arrow-svg"
          src="/images/icons/arrow-down.svg"
        />
      </span>
    </div>
    <transition name="slide">
      <ul v-if="isShown" class="dropdown__options">
        <perfect-scrollbar>
          <li
            v-for="(item, i) in items"
            :key="`option-${i}`"
            class="dropdown__option"
            @click="changeItem(item.title)"
          >
            <img v-if="$props.type === 'lang'" :src="item.src" alt="country" />
            <inline-svg
              v-if="$props.type === 'wallet' || $props.type === 'bid'"
              :src="item.src"
            />
            {{ item.title }}
          </li>
        </perfect-scrollbar>
      </ul>
    </transition>
  </div>
</template>

<style lang="scss">
.slide-enter-active, .slide-leave-active {
  transition: opacity .5s;
}
.slide-enter-from, .slide-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}


.dropdown {
  width: 95px;
  position: relative;

  &__select-btn {
    display: flex;
    height: 44px;
    background: $gray4;
    padding: 12px 10px;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-r;
    border-radius: 16px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    border: 1px solid $gray4;
    z-index: 30;
    position: relative;

    @media #{$l} {
      font-size: 14px;
    }

    &:hover {
      background: $white;
      border-color: $gray3;
    }

    & svg {
      color: $gray3;
    }

    &--opened {
      background: #fff;
      border: 1px solid $gray2;

      & svg {
        color: $gray3;
      }
    }
  }

  &__value {
    display: flex;
    align-items: center;
    margin-right: 4px;

    @media #{$s} {
      margin-right: 10px;
    }

    & svg {
      margin-right: 8px;
    }
  }

  &__arrow {
    display: block;

    &--active {
      & .dropdown__arrow-svg {
        transform: rotate(-180deg);
      }
    }
  }

  &__arrow-svg {
    display: block;
    transition: 0.3s;
    transform: rotate(0deg);
  }

  &__options {
    position: absolute;
    width: 95px;
    padding: 30px 0 10px;
    margin: 0;
    margin-top: -20px;
    border-radius: 16px;
    background: $white;
    border: 1px solid $gray3;
    display: block;
    z-index: 20;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 130px;

    & .ps {
      height: 120px;
    }
  }

  &__value-input {
    border: none;
    width: 80%;
    height: 100%;
    background: url("/images/icons/eth-filled.svg") left center no-repeat;
    font-family: $font-r;
    font-size: 18px;
    line-height: 28px;
    color: $gray3;
    display: flex;
    align-items: center;
    margin-right: 4px;
    outline: none;
    padding-left: 30px;

    &:focus {
      border: none;
      outline: none;
      color: $black;
    }

    @media #{$s} {
      margin-right: 10px;
    }

    & svg {
      margin-right: 8px;
    }
  }

  &__option {
    display: flex;
    cursor: pointer;
    padding: 10px 5px;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    font-family: $font-r;
    color: $black;

    & img {
      margin-right: 6px;
    }

    & svg {
      color: $gray3;
      margin-right: 10px;
    }

    &:hover {
      background: var(--passive);
    }
  }

  &--bid {
    background: $white;
    width: 300px;
    border-radius: 16px;
    color: $gray3;

    @media #{$l} {
      width: 100%;
    }

    .ps {
      height: 240px;
    }

    & .dropdown__options {
      width: 300px;
      color: $gray3;
      padding-bottom: 20px;
      height: 280px;

      @media #{$l} {
        width: 100%;
      }
    }

    & .dropdown__option {
      color: $black;
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: 18px;
      line-height: 28px;
      padding-left: 32px;

      &:hover {
        background: $gray4;
      }

      &:active {
        background: var(--passive);
      }
    }

    & .dropdown__arrow {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -14px;
        width: 1px;
        height: 32px;
        top: -4px;
        background: $gray3;
      }
    }

    & .dropdown__select-btn {
      background: $white;
      display: flex;
      justify-content: space-between;
      border-radius: 16px;
      z-index: 22;
      border: 1px solid $gray3;
      height: 56px;
      padding-left: 20px;

      &:hover {
        background: linear-gradient(
            0deg,
            rgba(10, 8, 28, 0.03),
            rgba(10, 8, 28, 0.03)
          ),
          #f8f7f8;
      }

      &--opened {
        border: 1px solid $gray1;

        & input {
          color: $black;
        }
      }
    }
  }

  &--wallet {
    width: 166px;

    @media #{$xs} {
      width: 68px;
    }

    & .dropdown__options {
      width: 166px;
    }

    & .dropdown__option {
      color: $fail;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-radius: 4px;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;

      &:first-child {
        color: $gray1;
      }

      &:hover {
        border-top: 1px solid $gray4;
        border-bottom: 1px solid $gray4;
        background: $gray4;
      }

      &:active {
        border-top: 1px solid $gray3;
        border-bottom: 1px solid $gray3;
        background: $gray4;
      }
    }

    & .dropdown__select-btn {
      @media #{$xs} {
        justify-content: flex-end;
      }
    }

    & .dropdown__value {
      @media #{$xs} {
        margin-right: 4px;
      }

      & span {
        @media #{$xs} {
          display: none;
        }
      }

      & svg {
        margin-right: 8px;

        @media #{$xs} {
          margin-right: 0;
        }
      }
    }
  }
}
</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import EventBus from "@/EventBus";


@Options({
  props: {
    type: String,
    itemsList: [],
  },
  watch: {
    activeItem: function () {
      this.emitBtn();
    },
  },
})
export default class Dropdown extends Vue {
  public isShown = false;
  public activeItem = "";
  public oldActiveItem = "";
  public isSetActive = false;

  public get dProps(): any {
    return this.$props;
  }

  public mounted() {
    if (this.dProps.itemsList.length) {
      this.activeItem = this.dProps.itemsList[0].title;
      this.oldActiveItem = this.activeItem;
      return;
    }
    switch (this.dProps.type) {
      case "lang":
        this.activeItem = "EN";
        break;
      case "wallet":
        this.activeItem = "0x45...Cc65";
        break;
      default:
        this.activeItem = "EN";
    }

    if (this.dProps.type === 'bid') {
      this.$nextTick(() => {
        this.isSetActive = true;
      })
    }
  }

  public emitBtn() {
    if (this.dProps.type === 'bid' && this.oldActiveItem !== this.activeItem) {
      this.oldActiveItem = this.activeItem;
      EventBus.emit("activate-btn", );
    }
  }

  public toggleDropdown() {
    this.isShown = !this.isShown;
  }

  public closeDropdown() {
    this.isShown = false;
  }

  public get iconByType() {
    if (this.dProps.itemsList.length) {
      return this.dProps.itemsList[0].src;
    }
    switch (this.dProps.type) {
      case "lang":
        return "/images/icons/lang.svg";
      case "wallet":
        return "/images/icons/wallet.svg";
      default:
        return "/images/icons/lang.svg";
    }
  }

  public get items() {
    if (this.dProps.itemsList.length) {
      return this.dProps.itemsList;
    }

    switch (this.dProps.type) {
      case "lang":
        return [
          {
            title: "EN",
            src: "/images/en.png",
          },
          {
            title: "CH",
            src: "/images/ch.png",
          },
        ];
      case "wallet":
        return [
          {
            title: "Change wallet",
            src: "/images/icons/wallet-icon.svg",
          },
          {
            title: "Disconnect",
            src: "/images/icons/disconnect.svg",
          },
        ];
      default:
        return [
          {
            title: "EN",
            src: "/images/en.png",
          },
          {
            title: "CH",
            src: "/images/ch.png",
          },
        ];
    }
  }

  public get arrowClass() {
    return {
      "dropdown__arrow--active": this.isShown,
    };
  }

  public get dropdownClass() {
    return {
      "dropdown--wallet": this.dProps.type === "wallet",
      "dropdown--bid": this.dProps.type === "bid",
    };
  }

  public get btnClass() {
    return {
      "dropdown__select-btn--opened": this.isShown,
    };
  }

  public changeItem(newItem: string) {
    if (this.dProps.type === "lang" || this.dProps.type === "bid") {
      this.activeItem = newItem;
      this.toggleDropdown();
    } else {
      if (newItem === "Change wallet") {
        this.toggleDropdown();
        // open modal
      } else {
        this.toggleDropdown();
        this.$store.commit("setAuth", false);
      }
    }
  }
}
</script>
