<template>
  <div class="face">
    <img :src="$props.src" alt="face" />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    src: String,
  },
})
export default class Face extends Vue {}
</script>

<style lang="scss">
.face {
  width: 180px;
  height: 180px;
  border-radius: 24px;
  overflow: hidden;

  & img {
    width: 100%;
    height: auto;
  }

  @media #{$m} {
    width: 114px;
    height: 114px;
  }

  @media #{$s} {
    width: 138px;
    height: 138px;
  }

  @media #{$xs} {
    width: 216px;
    height: 216px;
  }
}

</style>
