<template>
  <footer class="footer">
    <div class="container">
      <ul class="footer__social">
        <li
          v-for="(item, i) in footerItems"
          :key="`footer-${i}`"
          class="footer__social-item"
        >
          <BtnSecondary :src="item.src" :url="item.url" :text="item.text" />
        </li>
      </ul>
    </div>
  </footer>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnSecondary from "@/components/BtnSecondary.vue";

@Options({
  components: {
    BtnSecondary,
  },
})
export default class Footer extends Vue {
  public get footerItems() {
    return [
      {
        src: "/images/icons/twitter.svg",
        text: "Twitter",
        url: "http://twitter.com",
      },
      {
        src: "/images/icons/discord.svg",
        text: "Discord",
        url: "http://twitter.com",
      },
      {
        src: "/images/icons/opensea.svg",
        text: "Opensea",
        url: "http://twitter.com",
      },
      {
        src: "/images/icons/etherscan.svg",
        text: "Etherscan",
        url: "http://twitter.com",
      },
    ];
  }
}
</script>

<style lang="scss">
.footer {
  background: $gray4;
  padding: 66px 0;
  grid-row-start: 2;
  grid-row-end: 3;
  border-top: 1px solid $gray3;

  @media #{$s} {
    padding: 51px 0px;
  }

  @media #{$xs} {
    padding: 37px 0;
  }

  &__social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;

    @media #{$l} {
      max-width: 550px;
    }

    @media #{$m} {
      max-width: 500px;
    }

    @media #{$s} {
      max-width: 350px;
    }

    @media #{$xs} {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}
</style>
