<template>
  <header class="header" :class="headerClass">
    <div class="container header__container">
      <div class="header__logo" :class="logoClass">
        <div class="header__logo-icon">
        <inline-svg src="/images/logo.svg" />
        </div>
        <div class="header__bank" @mouseenter="isLogoClass = true" @mouseleave="isLogoClass = false">
          <inline-svg class="header__eth" src="/images/icons/eth.svg" />
          {{ "23,528" }}
        </div>
      </div>
      <ul class="header__nav">
        <li
          v-for="(item, i) in navItems"
          :key="`nav-${i}`"
          class="header__nav-item"
          :class="navItemClass(item)"
        >
          <router-link :to="item.url">
            <inline-svg :src="item.icon" />
            <span>{{ item.title }}</span>
            <inline-svg class="header__nav-item-external"
              v-if="item.isExternal"
              src="/images/icons/external.svg"
            />
          </router-link>
        </li>
      </ul>
      <div class="header__profile">
        <div class="header__lang">
          <Dropdown type="lang" :itemsList="[]" />
        </div>
        <div class="header__login">
          <!--          <button class="header__login-btn" type="button" @click="toggleShowModal">-->
          <!--            <inline-svg src="/images/icons/user.svg" />-->
          <!--            Connect-->
          <!--          </button>-->
          <!--          <vue-final-modal v-model="showModal">-->
          <!--            <div class="header__wallets-modal">-->

          <!--            </div>-->
          <!--          </vue-final-modal>-->
          <Dropdown v-if="$store.state.isAuth" :itemsList="[]" type="wallet" class="header__wallet"/>
          <button
            v-else
            class="header__login-btn"
            type="button"
            @click="toggleShowModal"
          >
            <inline-svg src="/images/icons/user.svg" />
            <span>Connect</span>
          </button>
          <button
            type="button"
            class="header__menu-btn"
            :class="menuBtnClass"
            @click="toggleMenu"
          >
            <inline-svg v-if="!showMenu" src="/images/icons/menu-open.svg" />
            <inline-svg v-else src="/images/icons/menu-close.svg" />
          </button>
          <ul class="header__mobile-nav" :class="menuMobileClass">
            <li
              v-for="(item, i) in navItems"
              :key="`nav-${i}`"
              class="header__nav-item"
            >
              <router-link :to="item.url" :class="navItemClass(item)">
                <inline-svg :src="item.icon" />
                <span>{{ item.title }}</span>
                <inline-svg
                  v-if="item.isExternal"
                  src="/images/icons/external.svg"
                />
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import BtnSecondary from "@/components/BtnSecondary.vue";
import Dropdown from "@/components/Dropdown.vue";

interface INavItem {
  title: string;
  icon: string;
  url: string;
  isActive: boolean;
  isExternal: boolean;
}

@Options({
  components: {
    BtnSecondary,
    Dropdown,
  },
})
export default class Header extends Vue {
  public showModal = false;
  public showMenu = false;
  public isLogoClass = false;

  public toggleShowModal() {
    // this.showModal = true;
    this.$store.commit("setAuth", true);
  }

  public toggleMenu() {
    this.showMenu = !this.showMenu;
  }

  public get innerWidth() {
    return window.innerWidth;
  }

  public get navItems(): INavItem[] {
    const path = this.$router.currentRoute.value.path;
    return [
      {
        title: "Bids",
        icon: "/images/icons/bids.svg",
        url: "/",
        isActive: path === "/",
        isExternal: false,
      },
      {
        title: "Dao",
        icon: "/images/icons/dao.svg",
        url: "/dao",
        isActive: path === "/dao",
        isExternal: false,
      },
      {
        title: "Playground",
        icon: "/images/icons/playground.svg",
        url: "/playground",
        isActive: path === "playground",
        isExternal: false,
      },
      {
        title: "Forum",
        icon: "/images/icons/forum.svg",
        //url: "/forum",
        url: "/creators",
        isActive: path === "/forum",
        isExternal: true,
      },
      {
        title: "Docs",
        icon: "/images/icons/docs.svg",
        //url: "/docs",
        url: "/404",
        isActive: path === "/docs",
        isExternal: true,
      },
    ];
  }

  public navItemClass(navItem: INavItem) {
    return {
      "header__nav-item--active": navItem.isActive,
      "header__nav-item--external": navItem.isExternal,
    };
  }

  public mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.onResize);
    });
  }

  public onResize() {
    if (this.innerWidth >= 1140 && this.showMenu) {
      this.showMenu = false;
    }
  }

  public get menuBtnClass() {
    return {
      "header__menu-btn--close": this.showMenu,
    };
  }

  public get logoClass() {
    return {
      "header__logo--hover": this.isLogoClass,
    };
  }

  public get menuMobileClass() {
    return {
      "header__mobile-nav--close": !this.showMenu,
    };
  }

  public get headerClass() {
    return {
      "header--auth": this.$store.state.isAuth,
    };
  }
}
</script>

<style lang="scss">
.header {
  background: $gray4;
  padding: 20px 0;
  height: 80px;
  grid-row-start: 0;
  grid-row-end: 1;

  @media #{$xs} {
    padding: 18px 0;
  }

  &__container.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: auto;
    position: relative;

    &::before {
      position: absolute;
      left: -84px;
      top: 10px;
      height: 24px;
      width: 1px;
      background: $gray3;
      content: '';

      @media #{$l} {
        content: none;
      }

    }

    &::after {
      position: absolute;
      right: -84px;
      top: 10px;
      height: 24px;
      width: 1px;
      background: $gray3;
      content: '';

      @media #{$l} {
        content: none;
      }
    }

    @media #{$m} {
      display: none;
    }
  }

  &__nav-item {
    margin-right: 32px;
    transition: 0.3s;

    @media #{$l} {
      margin-right: 24px;
    }

    @media #{$s} {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;

      @media #{$m} {
        border-bottom: none;
      }
    }
    @media #{$m} {
      border-bottom: 1px solid $gray3;
    }

    & a {
      font-family: $font-r;
      font-size: 16px;
      line-height: 22px;
      color: $gray1;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: 0.3s;

      @media #{$l} {
        font-size: 14px;
        line-height: 22px;
      }

      @media #{$m} {
        font-family: $font-m;
        font-weight: 500;
        font-size: 24px;
        line-height: 40px;
        padding-top: 32px;
        padding-bottom: 32px;
        justify-content: center;
      }

      @media #{$xs} {
        font-family: $font-r;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        padding-top: 24px;
        padding-bottom: 24px;
        justify-content: center;
      }
    }

    & span {
      margin-left: 10px;
    }

    & svg {
      color: $gray3;
      transition: 0.3s;
    }

    &:hover {
      transition: 0.3s;

      & a {
        transition: 0.3s;
      }
      & svg {
        color: $black;
        transition: 0.3s;
      }
    }

    &--external {
      & span {
        margin-right: 10px;
      }

      & svg {
        color: $gray3;
      }

      &:hover {
        color: $black;

        & svg {
          color: #B2B1BB;
        }

        & .header__nav-item-external {
          color: $gray2;
        }
      }

      &:active {
        color: $black;

        & svg {
          color: $gray2;
        }
      }
    }

    &--active {
      cursor: unset;
      color: var(--active);
      & a {
        color: var(--active);
      }

      & svg {
        color: var(--active);
      }

      &:hover {
        color: var(--active);
        & a {
          color: var(--active);
        }
        & svg {
          color: var(--active);
        }
      }

      &:active {
        color: var(--active);
        & svg {
          color: var(--active);
        }
      }
    }
  }

  &__wallet {
    margin-left: 26px;


    @media #{$l} {
      margin-left: 0px;
    }
  }

  &__logo {
    outline: 1px solid $gray3;
    border-radius: 8px;
    display: flex;
    height: 40px;
    position: relative;
    transition: 0.3s;


    &--hover {
      &:active {
        outline: 1px solid $gray1;
        transition: 0.3s;
      }
    }
  }

  &__logo-icon {
    width: 42px;
    height: 42px;
    background: var(--active);
    border-radius: 8px;
    transition: 0.3s;
    z-index: 4;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;
    position: relative;
    display: block;

    & svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      transition: 0.3s;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--active);
    }

    &:active {
      transition: 0.3s;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), var(--active);

      &::after {
        position: absolute;
        z-index: 20;
        content: '';
        width: 40px;
        height: 40px;
        background: transparent;
        border: 1px solid $gray1;
        top: 0;
        left: -1px;
        display: block;
        border-radius: 8px;
        transition: 0.3s;
      }

    }
  }

  &__bank {
    color: $gray2;
    font-family: $font-r;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding: 9px 16px 9px 10px;
    height:100%;
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;

    &:hover {
      background: $white;
    }

    @media #{$l} {
      padding-right: 24px;
      font-size: 14px;
      line-height: 22px;
    }

    @media #{$m} {
      padding: 9px;
      padding-left: 8px;
      padding-right: 12px;
    }
  }

  &__profile {
    display: flex;
  }

  &__login {
    display: flex;
    align-items: center;
  }

  &__login-btn {
    display: flex;
    align-items: center;
    align-self: center;
    border: none;
    background: transparent;
    padding: 0;
    color: $gray1;
    font-family: $font-r;
    font-size: 16px;
    line-height: 22px;
    margin-left: 28px;

    @media #{$l} {
      font-size: 14px;
      line-height: 22px;
      margin-left: 4px;
    }

    & svg {
      color: $gray3;
    }

    & span {
      margin-left: 10px;
      @media #{$xs} {
        display: none;
      }
    }

    &:hover {
      color: $black;
      transition: all 0.3s;

      svg {
        path {
          fill: $gray2;
          transition: all 0.3s;
        }
      }
    }

    &:active {
      color: var(--active);
      transition: all 0.3s;

      svg {
        path {
          fill: var(--active);
          transition: all 0.3s;
        }
      }
    }
  }

  &__menu-btn {
    display: none;
    padding: 8px;
    border-radius: 8px;
    background: transparent;
    border: 1px solid $gray3;
    margin-left: 30px;

    @media #{$m} {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media #{$s} {
      margin-left: 20px;
    }

    &:hover {
      background: linear-gradient(0deg, rgba(10, 8, 28, 0.05), rgba(10, 8, 28, 0.05)), #E8E8E8;
    }

    &--close {
      background: $white;

      &:hover {
        background: linear-gradient(0deg, rgba(10, 8, 28, 0.05), rgba(10, 8, 28, 0.05)), #F8F7F8;
      }
    }
  }

  &__lang {
    @media #{$xs} {
      display: none;
    }
  }

  &__mobile-nav {
    display: none;

    @media #{$m} {
      width: 100vw;
      right: 0;
      top: 80px;
      background: $gray4;
      position: absolute;
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 26px 40px;
      list-style: none;
      height: calc(100vh - 80px);
      z-index: 100;
    }

    @media #{$xs} {
      padding: 32px;
    }

    &--close {
      display: none;
    }
  }

  &--auth {

    & .header__menu-btn {
      @media #{$m} {
        margin-left: 18px;
      }

      @media #{$s} {
        margin-left: 4px;
      }

      @media #{$xs} {
        margin-left: 0px;
      }
    }

    & .header__nav {
      margin-left: 12px;

      @media #{$l} {
        margin-left: 8px;
      }

      &::before {
        left: -68px;
        top: calc(50% - 10px);
       }

      &::after {
        right: -64px;
        top: calc(50% - 10px);
       }
    }
    & .header__nav-item {
      margin-right: 34px;


      @media #{$l} {
        margin-right: 21px;
      }

      @media #{$s} {
        margin-right: 0;
      }


      &:last-child {
        margin-right: 0;
      }

    }
  }
}
</style>
