<template>
  <div class="progress-bar" :class="pbClass">
    <div
      class="progress-bar__filled"
      :style="{
        width: `${
          $props.total === 0 ? 0 : ($props.filled / $props.total) * 100
        }%`,
      }"
    ></div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { EnumVoteCard } from "@/types";

@Options({
  props: {
    filled: Number,
    total: Number,
    type: String,
  },
})
export default class ProgressBar extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get pbClass() {
    return {
      "progress-bar--red": this.dProps.type === EnumVoteCard.for,
      "progress-bar--gray": this.dProps.type === EnumVoteCard.abstain,
      "progress-bar--green": this.dProps.type === EnumVoteCard.against,
    };
  }
}
</script>

<style lang="scss">
.progress-bar {
  position: relative;
  background: $gray3;
  border-radius: 8px;
  width: 100%;
  height: 24px;

  @media #{$m} {
    height: 16px;
  }

  &__filled {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 24px;
    border-radius: 8px;

    @media #{$m} {
      height: 16px;
    }
  }

  &--red {
    .progress-bar__filled {
      background: $fail;
    }
  }

  &--gray {
    .progress-bar__filled {
      background: $gray2;
    }
  }

  &--green {
    .progress-bar__filled {
      background: $succ;
    }
  }
}
</style>
