<template>
  <ul class="proposal-creator">
    <li class="proposal-creator__item">
      <inline-svg src="/images/icons/proposal-creator.svg" />
      <div class="proposal-creator__info">
        <span>Creator</span>
        <b>{{ $props.creator }}</b>
      </div>
    </li>
    <li class="proposal-creator__item">
      <inline-svg src="/images/icons/proposal-threshold.svg" />
      <div class="proposal-creator__info">
        <span>Threshold</span>
        <b>{{ $props.votes }} Votes</b>
      </div>
    </li>
    <li class="proposal-creator__item">
      <inline-svg src="/images/icons/proposal-date.svg" />
      <div class="proposal-creator__info">
        <span>{{ $props.date }}</span>
        <b>{{ $props.time }}</b>
      </div>
    </li>
    <li class="proposal-creator__item">
      <inline-svg src="/images/icons/proposal-snapshot.svg" />
      <div class="proposal-creator__info">
        <span>Snapshot</span>
        <b>{{ $props.snapshot }}</b>
      </div>
    </li>
  </ul>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    creator: String,
    votes: Number,
    date: String,
    time: String,
    snapshot: Number,
  },
})
export default class ProposalCreator extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get pbClass() {
    return {
      "progress-bar--red": this.dProps.type === "red",
      "progress-bar--gray": this.dProps.type === "gray",
      "progress-bar--green": this.dProps.type === "green",
    };
  }
}
</script>

<style lang="scss">
.proposal-creator {
  width: 100%;
  background: $gray4;
  border: 1px solid $gray3;
  border-radius: 40px;
  padding: 48px 56px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  padding-top: 38px;
  padding-bottom: 36px;

  @media #{$l} {
    padding: 30px 40px;
  }

  @media #{$m} {
    display: flex;
    flex-direction: row;
    padding: 56px 12px;
  }

  @media #{$s} {
    padding: 16px 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 32px;
    padding-bottom: 48px;
  }

  @media #{$xs} {
    padding: 30px 40px;
    grid-template-columns: 1fr;
  }

  & svg {
    align-self: center;

    @media #{$m} {
      margin-bottom: 8px;
      align-self: flex-start;
      margin-left: 42px;
    }

    @media #{$s} {
      margin-bottom: 0;
      align-self: center;
      margin-left: 0;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid $gray3;

    @media #{$m} {
      border: none;
      width: auto;
      flex-direction: column;
      border-right: 1px solid $gray3;
      min-width: 22%;
    }

    @media #{$s} {
      flex-direction: row;
      border: none;
      border-bottom: 1px solid $gray3;
      min-width: unset;
    }

    @media #{$xs} {
      border: none;
      border-bottom: 1px solid $gray3;
    }

    &:nth-child(2) {
      @media #{$s} {
        grid-column-start: 1;
        grid-row-start: 2;
      }
    }

    &:last-child {
      border: none;

      @media #{$s} {
        border-bottom: 1px solid $gray3;
      }

      @media #{$xs} {
        border: none;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 32px 0;

    @media #{$m} {
      padding: 0 43px;
      margin-left: 0;
    }

    @media #{$s} {
      padding: 32px 0;
      margin-left: 20px;
    }

    & span {
      color: $gray2;
      font-family: $font-r;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 2px;
      text-align: left;

      @media #{$l} {
        margin-bottom: 0;
      }
    }

    & b {
      color: $black;
      font-family: $font-r;
      font-weight: 400;
      font-variation-settings: "wght" 500;
      font-size: 18px;
      line-height: 28px;
      text-align: left;

      @media #{$l} {
        margin-top: -4px;
      }

      @media #{$m} {
        font-size: 16px;
        line-height: 22px;
        margin-top: 0;
      }

      @media #{$xs} {
        margin-top: 2px;
      }
    }
  }
}
</style>
