<template>
  <div class="proposal-card" :class="voteClass">
    <div class="proposal-card__vote">
      <div class="proposal-card__vote-type">
        <inline-svg :src="voteIcon" />
        <span>{{ voteText }}</span>
      </div>
      <span class="proposal-card__vote-date">{{ $props.date }}</span>
    </div>
    <div class="proposal-card__img-wrapper">
      <img :src="$props.src" />
    </div>
    <div class="proposal-card__info">
      <p
        v-snip="{ lines: 2, mode: 'js', midWord: false }"
        class="proposal-card__title"
      >
        {{ $props.title }}
      </p>

      <div class="proposal-card__about">
        <div class="proposal-card__status">
          <inline-svg :src="statusIcon" />
          <span>{{ statusText }}</span>
        </div>
        <p class="proposal-card__name">Proposal {{ $props.number }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  components: {},
  props: {
    number: Number,
    title: String,
    src: String,
    status: String, //inProgress, executed, defeated, canceled
    voteType: String, //waiting, abstain. against, voted
    date: String,
  },
})
export default class DaoCard extends Vue {
  public get dProps(): any {
    return this.$props;
  }

  public get statusIcon() {
    switch (this.dProps.status) {
      case "inProgress":
        return "/images/icons/prop-in-progress.svg";
      case "executed":
        return "/images/icons/prop-executed.svg";
      case "defeated":
        return "/images/icons/prop-deleted.svg";
      case "canceled":
        return "/images/icons/prop-canceled.svg";
      default:
        return "/images/icons/prop-canceled.svg";
    }
  }

  public get voteIcon() {
    switch (this.dProps.voteType) {
      case "voted":
        return "/images/icons/prop-voted.svg";
      case "abstain":
        return "/images/icons/prop-abstained.svg";
      case "against":
        return "/images/icons/prop-against.svg";
      case "waiting":
        return "/images/icons/prop-waiting.svg";
      default:
        return "/images/icons/prop-waiting.svg";
    }
  }

  public get voteText() {
    switch (this.dProps.voteType) {
      case "voted":
        return "Voted";
      case "abstain":
        return "Abstain";
      case "against":
        return "Against";
      case "waiting":
        return "Waiting";
      default:
        return "Waiting";
    }
  }

  public get voteClass() {
    return {
      "proposal-card--waiting": this.dProps.voteType === "waiting",
      "proposal-card--voted": this.dProps.voteType === "voted",
      "proposal-card--abstain": this.dProps.voteType === "abstain",
      "proposal-card--against": this.dProps.voteType === "against",
    };
  }

  public get statusText() {
    switch (this.dProps.status) {
      case "inProgress":
        return "In progress";
      case "executed":
        return "Executed";
      case "defeated":
        return "Deleted";
      case "canceled":
        return "Canceled";
      default:
        return "Canceled";
    }
  }
}
</script>

<style lang="scss">
.proposal-card {
  background: $white;
  height: 100%;
  width: 100%;
  border: 1px solid $gray3;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 56px;
  padding-bottom: 40px;

  @media #{$l} {
    padding: 56px;
    padding-bottom: 30px;
  }

  @media #{$m} {
    padding: 32px;
    padding-bottom: 14px;
  }

  @media #{$s} {
    padding: 56px;
    padding-bottom: 32px;
  }

  @media #{$xs} {
    padding: 32px 24px;
    padding-bottom: 14px;
  }

  &--waiting {
    background: $alert2;
  }

  &--voted {
    background: $succ2;
  }

  &--abstain {
    background: $gray4;
  }

  &--against {
    background: $fail2;
  }

  &:hover {
    & .proposal-card__img-wrapper {
      transition: 0.3s;
    }

    & .proposal-card__img-wrapper::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 148px;
      width: 100%;
      border-radius: 24px;
      background: $black;
      opacity: 0.6;
      z-index: 5;
      transition: 0.3s;
    }
  }

  &__vote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray3;

    @media #{$l} {
      padding-bottom: 18px;
    }

    @media #{$m} {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }

    @media #{$s} {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    @media #{$xs} {
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__vote-type {
    display: flex;
    align-items: center;

    @media #{$m} {
      order: 2;
      margin-top: 8px;
    }

    @media #{$s} {
      order: -1;
      margin-top: 0;
    }

    @media #{$xs} {
      order: 2;
      margin-top: 8px;
    }

    & span {
      margin-left: 16px;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      font-family: $font-m;
      color: $black;

      @media #{$m} {
        font-size: 20px;
        line-height: 28px;
      }

      @media #{$s} {
        font-size: 24px;
        line-height: 40px;
      }

      @media #{$xs} {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  &__vote-date {
    font-family: $font-r;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__date {
    font-size: 18px;
    line-height: 28px;
    color: $gray2;

    @media #{$m} {
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$s} {
      font-size: 18px;
      line-height: 28px;
    }

    @media #{$xs} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
    color: $black;
    font-family: $font-r;
    margin-bottom: 30px;

    @media #{$m} {
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$s} {
      font-size: 18px;
      line-height: 28px;
    }

    @media #{$xs} {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: $gray2;
    padding: 10px 0 0;
    border-top: 1px solid $gray3;
    font-family: $font-r;

    @media #{$l} {
      padding: 10px 0;
    }

    @media #{$m} {
      padding: 10px 0;
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$s} {
      font-size: 18px;
      line-height: 28px;
    }

    @media #{$xs} {
      padding: 10px 0;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__img-wrapper {
    height: 148px;
    width: 100%;
    border-radius: 24px;
    overflow: hidden;
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;
    transition: 0.3s;

    @media #{$m} {
      margin-top: 26px;
      margin-bottom: 26px;
    }

    @media #{$s} {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    @media #{$xs} {
      margin-top: 18px;
      margin-bottom: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 148px;
      width: 100%;
      border-radius: 24px;
      background: $black;
      opacity: 0;
      z-index: 5;
      transition: 0.3s;
    }
  }

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__status {
    display: flex;
    align-items: center;

    & span {
      margin-left: 12px;
    }
  }
}
</style>
