<template>
  <swiper
    :slidesPerView="'auto'"
    :spaceBetween="spaceBetween"
    :centeredSlides="true"
    @swiper="onSwiper"
    @slideChange="onSlideChange"
    class="slider"
    :class="swiperClass"
    :effect="'fade'"
    :speed="500"
  >
    <swiper-slide
      v-for="(item, index) in displayList"
      :key="`slider-item-${index}`"
      class="slider__item"
      @click="slideToIndex(index)"
    >
      <img :src="item.src" alt="face" />
    </swiper-slide>
  </swiper>
</template>
<script lang="ts">
// import required modules
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/swiper-bundle.css";
import { Options, Vue } from "vue-class-component";
import EventBus from "@/EventBus";

@Options({
  components: {
    Swiper,
    SwiperSlide,
  },
  props: {
    list: [],
  },
})
export default class Slider extends Vue {
  public swiper = Swiper;
  public displayList = this.dProps.list;
  public isLastSlide = true;
  public isLoaded = false;

  public get dProps(): any {
    return this.$props;
  }

  public mounted() {
    this.$nextTick(() => {
      this.isLoaded = true;
    });
  }

  public get swiperClass() {
    return {
      "slider--last": !this.isLoaded
        ? true
        : this.swiper
        ? this.swiper.slides.length === this.swiper.activeIndex + 1
        : true,
    };
  }

  public slideToIndex(i) {
    this.swiper.slideTo(i);
  }

  public onSwiper(swiper) {
    this.swiper = swiper;
    this.swiper.slideTo(this.swiper.slides.length);
    this.$store.commit(
      "setColor",
      this.dProps.list[this.swiper.activeIndex].theme
    );
    this.$store.commit(
      "setFaceStatus",
      this.dProps.list[this.swiper.activeIndex].status
    );
    EventBus.on("change-slide", (evt) => {
      setTimeout(() => {
        if (evt.vector < 0 && this.swiper.activeIndex > 0) {
          this.swiper.slideTo(this.swiper.activeIndex - 1);
          return;
        }
        if (
          evt.vector > 0 &&
          this.swiper.activeIndex < this.swiper.slides.length - 1
        ) {
          this.swiper.slideTo(this.swiper.activeIndex + 1);
          return;
        }
      }, 300);
    });
  }

  public onSlideChange() {
    this.$store.commit(
      "setColor",
      this.dProps.list[this.swiper.activeIndex].theme
    );
    this.$store.commit(
      "setFaceStatus",
      this.dProps.list[this.swiper.activeIndex].status
    );
  }

  public get spaceBetween() {
    switch (true) {
      case this.$windowWidth >= 1440:
        return 96;
      case this.$windowWidth >= 1140 && this.$windowWidth < 1440:
        return 88;
      case this.$windowWidth >= 780 && this.$windowWidth < 1140:
        return 56;
      case this.$windowWidth < 780:
        return 32;

      default:
        return 96;
    }
  }
}
</script>

<style lang="scss">
.slider {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  //margin-right: calc(50% - 190px);

  & .swiper-slide-active {
    opacity: 1;
    transition: 0.3s;
  }

  &--last {
    & .swiper-slide:last-child {
      margin-right: 0 !important;
    }
  }

  &__item {
    border-radius: 32px;
    opacity: 0.2;
    width: 362px;
    height: 362px;
    display: block;

    @media #{$l} {
      width: 240px;
      height: 240px;
    }

    @media #{$m} {
      width: 360px;
      height: 360px;
    }

    @media #{$s} {
      width: 240px;
      height: 240px;
    }

    @media #{$xs} {
      width: 216px;
      height: 216px;
    }

    & img {
      object-fit: contain;
      width: 362px;
      height: 362px;
      display: block;
      border-radius: 32px;

      @media #{$l} {
        width: 240px;
        height: 240px;
      }

      @media #{$m} {
        width: 360px;
        height: 360px;
      }

      @media #{$s} {
        width: 240px;
        height: 240px;
      }

      @media #{$xs} {
        width: 216px;
        height: 216px;
      }
    }
  }
}
</style>
