<template>
  <div class="vote-card-wrapper">
    <div
      v-if="!isVoteForm"
      class="vote-card"
      :class="voteClass"
      @mouseover="isHover = true"
      @mouseleave="isHover = false"
      @click="toggleForm"
    >
      <div class="vote-card__info">
        <div v-if="isHover && !isItemHover" class="vote-card__text">
          <span>Click to vote</span>
          <inline-svg src="/images/icons/mail.svg" />
        </div>
        <div v-if="!(isHover && !isItemHover)" class="vote-card__text">
          <span>{{ text }}</span>
          <span>{{ $props.currentVotes }}</span>
        </div>
        <ProgressBar
          :filled="$props.currentVotes"
          :total="$props.totalVotes"
          :type="$props.type"
        />
      </div>
      <ul class="vote-card__votes">
        <li
          v-for="item in $props.facesList.slice(0, 5)"
          class="vote-card__votes-item"
          :key="`vote-face-${item.id}`"
          @mouseover="isItemHover = true"
          @mouseleave="isItemHover = false"
        >
          <a class="vote-card__votes-link">
            <img :src="item.src" alt="dual face" />
            <span>Open <inline-svg src="images/icons/external.svg" /></span>
          </a>
        </li>
        <li
          class="vote-card__votes-item"
          @mouseover="isItemHover = true"
          @mouseleave="isItemHover = false"
        >
          <button type="button" @click="openModal">
            {{ isSSize ? "See all votes" : "See all" }}
          </button>
        </li>
      </ul>
      <button type="button" @click="openModal" class="vote-card__all-btn">
        See all
      </button>
    </div>
    <div v-else class="vote-card vote-card--form" :class="voteClass">
      <button type="button" class="vote-card__close-btn" @click="toggleForm">
        <inline-svg src="/images/icons/close.svg" />
      </button>
      <h3>Vote for proposal</h3>
      <div class="vote-card__input">
        <button
          type="button"
          class="vote-card__minus-btn"
          @click="decreaseVote"
        >
          <inline-svg src="/images/icons/minus.svg" />
        </button>
        <span class="vote-card__value">{{ voteCount }}</span>
        <button type="button" class="vote-card__plus-btn" @click="increaseVote">
          <inline-svg src="/images/icons/plus.svg" />
        </button>
      </div>
      <BtnPrimary
        class="vote-card__btn"
        type="okGray"
        text="Send vote"
        src="/images/icons/mail.svg"
      />
    </div>
    <transition name="fade">
      <div v-show="isModalShow" class="vote-card-wrapper__modal modal">
        <div class="modal__content">
          <button type="button" class="modal__close-btn" @click="closeModal">
            <inline-svg src="/images/icons/close.svg" />
          </button>
          <h2>List of who voted “{{ modalTitle }}”</h2>
          <perfect-scrollbar>
            <ul class="modal__votes">
              <li
                v-for="item in $props.facesList"
                class="modal__votes-item"
                :key="`vote-face-modal-${item.id}`"
              >
                <a class="modal__votes-link">
                  <img :src="item.src" alt="dual face" />
                  <span
                    >Open <inline-svg src="images/icons/external.svg"
                  /></span>
                </a>
              </li>
            </ul>
          </perfect-scrollbar>
        </div>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import ProgressBar from "@/components/ProgressBar.vue";
import BtnPrimary from "@/components/BtnPrimary.vue";
import EventBus from "@/EventBus";
import { EnumVoteCard } from "@/types.ts";

@Options({
  components: {
    ProgressBar,
    BtnPrimary,
  },
  props: {
    currentVotes: Number,
    totalVotes: Number,
    type: String,
    facesList: [],
  },
})
export default class VoteCard extends Vue {
  public isVoteForm = false;
  public isHover = false;
  public isItemHover = false;
  public isLinkHover = false;
  public voteCount = 1;
  public isModalShow = false;

  public get dProps(): any {
    return this.$props;
  }

  public get voteClass() {
    return {
      "vote-card--red": this.dProps.type === EnumVoteCard.against,
      "vote-card--gray": this.dProps.type === EnumVoteCard.abstain,
      "vote-card--green": this.dProps.type === EnumVoteCard.for,
    };
  }

  public get isSSize() {
    return this.$windowWidth < 780;
  }

  public get modalTitle() {
    return this.dProps.type[0].toUpperCase() + this.dProps.type.slice(1);
  }

  public get text() {
    return this.dProps.type[0].toUpperCase() + this.dProps.type.slice(1);
  }

  public toggleForm() {
    if (!this.isItemHover && !this.isModalShow) {
      this.isVoteForm = !this.isVoteForm;
      EventBus.emit("toggle-vote", { cardType: this.dProps.type });
    }
  }

  public openModal() {
    this.isModalShow = true;
    this.isHover = false;
    this.isItemHover = false;
    document.body.style.overflow = "hidden";
    document.addEventListener("keydown", this.onEsc);
  }

  public onEsc(evt) {
    if (evt.key === "Escape") {
      this.closeModal();
    }
  }

  public closeModal() {
    this.isModalShow = false;
    document.body.style.overflow = "";
    document.removeEventListener("keydown", this.onEsc);
  }

  public increaseVote() {
    this.voteCount++;
  }

  public decreaseVote() {
    if (this.voteCount >= 1) {
      this.voteCount--;
    }
  }

  public mounted() {
    EventBus.on("toggle-vote", (evt) => {
      if (this.dProps.type !== evt.cardType) {
        this.isVoteForm = false;
      }
    });
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.vote-card-wrapper {
  .modal {
    background: rgba(38, 41, 57, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

    &__content {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 56px;
      padding-right: 0;
      width: 512px;
      height: 639px;
      left: calc(50% - 512px / 2);
      top: calc(50% - 639px / 2 + 0.5px);
      background: $gray4;
      border: 2px solid $gray3;
      border-radius: 24px;
      overflow-x: hidden;

      @media #{$l} {
        padding: 40px;
        padding-right: 0;
        width: 480px;
        height: 579px;
        left: calc(50% - 480px / 2);
        top: calc(50% - 579px / 2 + 0.5px);
      }

      @media #{$xs} {
        padding: 40px 32px;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0;
        padding-right: 0;
      }

      & h2 {
        margin: 0;
        margin-bottom: 48px;
        display: block;
        padding-bottom: 32px;
        border-bottom: 1px solid $gray3;
        font-size: 36px;
        line-height: 48px;
        font-family: $font-m;
        color: $black;
        margin-right: 56px;

        @media #{$l} {
          font-size: 24px;
          line-height: 36px;
          padding-bottom: 24px;
          margin-bottom: 40px;
          margin-right: 40px;
        }
      }
    }

    &__votes {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      margin-top: 26px;
      max-width: 400px;

      @media #{$xs} {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 296px;
      }
    }

    &__votes-item {
      border-radius: 16px;

      display: flex;
      width: 92px;
      height: 92px;
      transition: 0.3s;

      & a {
        display: flex;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        transition: 0.3s;

        &::after {
          transition: 0.3s;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 10;
          background: rgba(10, 8, 28, 0);
        }

        &:hover {
          transition: 0.3s;

          & span {
            opacity: 1;
            transition: 0.3s;
          }

          &:after {
            transition: 0.3s;
            background: rgba(10, 8, 28, 0.5);
          }
        }

        &:active {
          transition: 0.3s;
          outline: 1px solid $black;

          & span {
            transition: 0.3s;
          }

          &:after {
            transition: 0.3s;
            background: rgba(10, 8, 28, 0.6);
          }
        }

        & span {
          transition: 0.3s;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 20;
          width: 100%;
          height: 100%;
          color: $white;
          opacity: 0;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          line-height: 22px;
          font-family: $font-r;
          display: flex;

          @media #{$m} {
            font-size: 10px;
            line-height: 12px;
          }

          & svg {
            margin-left: 4px;

            @media #{$m} {
              width: 12px;
              height: 12px;
            }

            path {
              fill: $white;
            }
          }
        }
      }
      & img {
        object-fit: cover;
      }
    }

    &__close-btn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 24px;
      right: 24px;
      border: none;
      padding: 12px;
      background: transparent;
      outline: 1px solid transparent;
      transition: 0.3s;
      border-radius: 16px;

      &:hover {
        background: $white;
        transition: 0.3s;
        outline: 1px solid $white;
      }

      &:active {
        background: $white;
        transition: 0.3s;
        outline: 1px solid $gray3;
      }

      @media #{$m} {
        padding: 8px;
        top: 8px;
        right: 8px;
      }

      @media #{$s} {
        padding: 4px;
        top: 15px;
        right: 12px;
      }
    }
  }
}
.vote-card {
  background: $gray4;
  outline: 1px solid $gray3;
  border-radius: 48px;
  padding: 48px;
  width: 405px;
  cursor: pointer;

  @media #{$l} {
    width: 100%;
    padding: 48px;
  }

  @media #{$m} {
    padding: 24px;
    border-radius: 24px;
  }

  @media #{$s} {
    width: 100%;
    padding: 20px;
    border-radius: 16px;
  }

  &--form {
    position: relative;
    cursor: unset;

    & h3 {
      text-align: left;
      font-weight: 500;
      font-size: 24px;
      line-height: 40px;
      font-family: $font-m;
      margin: 0;

      @media #{$l} {
        font-size: 20px;
        line-height: 28px;
      }

      @media #{$m} {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &.vote-card--green {
      background: $succ2;
      outline: 1px solid $succ;
    }

    &.vote-card--red {
      background: $fail2;
      outline: 1px solid $fail;
    }

    &.vote-card--gray {
      background: $gray3;
      outline: 1px solid $black;

      & .vote-card__close-btn {
        svg {
          path {
            fill: $gray2;
          }
        }
        &:hover {
          background: $gray4;
          transition: 0.3s;
          outline: 1px solid $white;

          svg {
            path {
              fill: $gray1;
            }
          }
        }

        &:active {
          background: $gray4;
          transition: 0.3s;
          outline: 1px solid $gray2;

          svg {
            path {
              fill: $gray1;
            }
          }
        }
      }
    }
  }

  &__all-btn {
    display: none;

    @media #{$s} {
      display: block;
      border: 1px solid $gray3;
      background: transparent;
      width: 100%;
      height: 40px;
      margin-top: 16px;
      border-radius: 8px;
      font-family: $font-r;
      font-size: 14px;
      line-height: 22px;
      color: $gray3;
      transition: 0.3s;
    }
  }

  &__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    border: none;
    padding: 12px;
    background: transparent;
    outline: 1px solid transparent;
    transition: 0.3s;
    border-radius: 16px;

    &:hover {
      background: $white;
      transition: 0.3s;
      outline: 1px solid $white;
    }

    &:active {
      background: $white;
      transition: 0.3s;
      outline: 1px solid $gray3;
    }

    @media #{$m} {
      padding: 8px;
      top: 8px;
      right: 8px;
    }

    @media #{$s} {
      padding: 4px;
      top: 15px;
      right: 12px;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 66px;

    @media #{$l} {
      margin-top: 36px;
      font-size: 18px;
      line-height: 28px;
      padding: 14px 24px;
    }

    @media #{$m} {
      margin-top: 24px;
      padding: 11px 16px;
      font-size: 16px;
      line-height: 22px;
    }

    @media #{$s} {
      margin-top: 16px;
      padding: 9px 16px;
      height: 40px;
    }

    @media #{$xs} {
      margin-top: 10px;
    }
  }

  &__input {
    margin-top: 66px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid $gray3;
    border-radius: 24px;
    background: $white;

    @media #{$l} {
      margin-top: 36px;
      height: 73px;
    }

    @media #{$m} {
      margin-top: 24px;
      border-radius: 12px;
      height: 48px;
    }

    @media #{$s} {
      margin-top: 13px;
      height: 40px;
    }

    @media #{$xs} {
      margin-top: 8px;
      height: 40px;
    }
  }

  &__minus-btn {
    padding: 16px 12px 16px 24px;
    border: none;
    height: 100%;
    background: transparent;
    position: relative;
    width: 84px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    outline: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      svg {
        path {
          fill: $gray1;
        }
      }
    }

    &:active {
      transition: 0.3s;

      svg {
        path {
          fill: $gray1;
        }
      }
    }

    @media #{$l} {
      height: 73px;
      width: 64px;
      padding: 0;
    }

    @media #{$m} {
      height: 48px;
      width: 52px;
      padding: 12px 16px 12px 12px;
    }

    @media #{$s} {
      padding: 8px 15px 8px 15px;
      height: 40px;
      width: 54px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      right: 0;
      top: calc(50% - 16px);
      background: $gray3;

      @media #{$m} {
        height: 28px;

        top: calc(50% - 14px);
      }

      @media #{$s} {
        height: 22px;
        top: calc(50% - 11px);
      }
    }
  }

  &__plus-btn {
    padding: 16px 24px 16px 12px;
    border: none;
    height: 80px;
    background: transparent;
    position: relative;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid transparent;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      svg {
        path {
          fill: $gray1;
        }
      }
    }

    &:active {
      transition: 0.3s;

      svg {
        path {
          fill: $gray1;
        }
      }
    }

    @media #{$l} {
      height: 73px;
      width: 64px;
      padding: 0;
    }

    @media #{$m} {
      height: 48px;
      width: 52px;
      padding: 12px 12px 12px 16px;
    }

    @media #{$s} {
      height: 40px;
      width: 54px;
      padding: 8px 15px 8px 15px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 32px;
      left: 0;
      top: calc(50% - 16px);
      background: $gray3;

      @media #{$m} {
        height: 28px;
        top: calc(50% - 14px);
      }

      @media #{$s} {
        height: 22px;
        top: calc(50% - 11px);
      }
    }
  }

  &__value {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    font-family: $font-m;
    color: $black;

    @media #{$m} {
      padding: 10px 0;
      font-size: 20px;
      line-height: 28px;
    }

    @media #{$s} {
      padding: 8px 0;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__votes-item {
    border-radius: 16px;

    display: flex;
    width: 96px;
    height: 96px;
    transition: 0.3s;

    @media #{$l} {
      width: 70px;
      height: 67px;
    }

    @media #{$m} {
      width: 53px;
      height: 47px;
    }

    &:last-child {
      border: 1px solid $gray3;
    }

    & a {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      border-radius: 16px;
      transition: 0.3s;

      &::after {
        transition: 0.3s;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: rgba(10, 8, 28, 0);
      }

      &:hover {
        transition: 0.3s;
        & span {
          transition: 0.3s;
          opacity: 1;
        }

        &:after {
          transition: 0.3s;
          background: rgba(10, 8, 28, 0.5);
        }
      }

      &:active {
        outline: 1px solid $black;
        transition: 0.3s;

        &:after {
          transition: 0.3s;
          background: rgba(10, 8, 28, 0.6);
        }
      }

      & span {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 100%;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 22px;
        font-family: $font-r;

        @media #{$m} {
          font-size: 10px;
          line-height: 12px;
        }

        & svg {
          margin-left: 4px;

          @media #{$m} {
            width: 12px;
            height: 12px;
          }

          path {
            fill: $white;
          }
        }
      }
    }
    & img {
      object-fit: cover;
    }

    & button {
      border: none;
      background: transparent;
      width: 100%;
      height: 100%;
      font-family: $font-r;
      font-size: 14px;
      line-height: 22px;
      color: $gray3;
      background: $gray4;
      transition: 0.3s;
      border-radius: 16px;
      border: none;
      outline: 1px solid $gray3;

      @media #{$m} {
        font-size: 10px;
        line-height: 12px;
      }

      &:hover {
        background: $white;
        transition: 0.3s;
      }

      &:active {
        background: $white;
        color: $gray2;
        outline: 1px solid $gray2;
        transition: 0.3s;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-family: $font-m;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    cursor: pointer;
    min-height: 40px;

    @media #{$l} {
      margin-bottom: 12px;
      font-size: 20px;
      line-height: 28px;
      min-height: 28px;
    }

    @media #{$m} {
      margin-bottom: 6px;
      font-family: $font-r;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      min-height: 24px;
    }

    @media #{$s} {
      margin-bottom: 8px;
    }

    @media #{$xs} {
      margin-bottom: 6px;
    }

    & svg {
      width: 24px;
      height: 24px;
    }
  }

  &__votes {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 26px;

    @media #{$m} {
      margin-top: 16px;
      max-width: 180px;
    }

    @media #{$s} {
      display: none;
    }
  }
}
</style>
