@import './scss/variables.scss';
@import './scss/fonts.scss';

:root {
  --active: #367961;
  --passive: #C9E1D8;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $font-r;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  font-weight: normal;
  color: $black;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  max-height: 100vh;
}



a, button {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;


  @media #{$l} {
    max-width: 100%;
    padding: 0 65px;
  }

  @media #{$m} {
    padding: 0 40px;
  }

  @media #{$xs} {
    padding: 0 32px;
  }
}

.page {
  grid-row-start: 1;
  grid-row-end: 2;
}

h3 {
  font-size: 24px;
  line-height: 40px;
  font-family: $font-m;
  font-weight: 500;

  @media #{$l} {
    font-size: 20px;
    line-height: 28px;
  }
}
