<template>
  <div class="app" ref="app">
    <router-view v-slot="{ Component }">
      <transition name="fade" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>  </div>
</template>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}


.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

#app {
  font-family: $font-m;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  overflow-x: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  width: 100vw;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.app {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  overflow-x: hidden!important;
  width: 100vw;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

</style>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import gsap from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
import { ScrollSmoother } from "gsap/ScrollSmoother";

@Options({})
export default class App extends Vue {
  public mounted() {
    this.$nextTick(() => {
      gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
      const smoother = ScrollSmoother.create({
        wrapper: "#app",
        content: this.$refs.app as HTMLElement,
        smooth: 6,
        effects: true,
      });

    });
  }
}
</script>
